<% lineage = nil %>
<% if @comment_id %>
  <% comm_id = @comment_id %>
  <% @comments.each do |c| %>
    <% if c.id == comm_id.to_i %>
      <% lineage = c.lineage %>
    <% end -%>
    <% if lineage && lineage.split('_')[0] == c.lineage.split('_')[0] %>
      <% lineage = c.lineage %>
    <% end %>
  <% end %>
<% else %>
  <% comm_id = nil %>
  <% if @comments && @comments.length > 0 %>
    <% lineage = @comments.last.lineage %>
  <% else %>
    <% lineage = "AAA_AAA" %>
  <% end -%>
<% end %>
<%= form_for @comment, url: post_comments_school_review_path(@school_review), remote: true do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@comment.errors.count, "error") %> prohibited
        this review from being saved:
      </h2>
      <ul>
        <% @comment.errors.each do |field,msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.hidden_field :comm_id, :value => comm_id %>
  <%= f.hidden_field :lineage, :value => lineage %>
    <% if comm_id == nil %>
        <label class="control-label" for="contact-message">Ask this grad <em style="color: #02a6f2;">or</em> Join the discussion</label>
    <% end %>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12" style="visibility: visible;">
        <div class="form-group">
          <!--<label class="control-label" for="contact-message">Join the discussion</label>-->
          <div class="controls">
            <%= f.text_area :content, placeholder:"Please be civil.", class:"form-control requiredField", rows:3  %>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="form-group">
              <%= submit_tag "Send", class: "form-control btn btn-primary btn-flat blabber", id: "formsubmitbutton" %>
            </div>
          </div>
        </div>
      </div>
    </div>
<% end %>

