<!--<link rel="stylesheet" href="//code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css">-->
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.3/jquery-ui.js"></script>
<script src="jquery.ui.touch-punch.min.js"></script>
<style type="text/css">
    .ui-slider-horizontal .ui-state-default {background: white url(http://stackoverflow.com/content/img/so/vote-arrow-down.png) no-repeat scroll 50% 50%;}
</style>

<div class="container animate-fade-in-500" style="margin-bottom: 8px;">
  <%= form_for @review  do |f| %>

      <% if @review.errors.any? %>

          <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <strong><%= pluralize(@review.errors.count, "error") %> prohibited
              this review from being saved!</strong>
            <ul>
              <% @review.errors.each do |field,msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>



      <% end %>
      <%= f.hidden_field :major_id, :value => @major_id  %>
      <% if @school_id != nil %>
          <%= f.hidden_field :school_id, :value => @school_id  %>
      <% end %>

      <%= f.form_group :title do |f| %>
          <div class="form-actions col-md-8" style="margin-bottom: 20px;">
            <%= f.label "Title of your review", class: "string required control-label" %>
            <%= f.text_field :title, class: 'form-control' %>
          </div>
      <% end %>


      <% years = ["Select graduation year"] %>
      <%
         for i in 0..50
           years.push(Date.today.year - i)
         end
      %>
      <div class="form-group"  >
        <div class="form-actions col-md-8">
          <%= f.label 'Year graduated: ', class: 'string required control-label' ,:style => "float:left;margin-right:20px;"%>
          <%= f.select :year_graduated, years, class: 'form-control' %>
        </div>
      </div>

      <div class="form-group"  style="margin-top:15px;">
        <div class="form-actions col-md-8" style="margin-top:35px;padding-top: 0;color: #f6931f;">
          <h3 style="margin-bottom: 0px;margin-top: 18px;font-weight: bold;">College specific questions</h3>
        </div>
      </div>
      <!--<hr style="margin-top:2px; margin-bottom: 15px;">-->
      <% margin_bottom_value = mobile_device? ? "35px" : "0px" %>

      <div class="form-group" style="margin-bottom:<%= margin_bottom_value %>;" >
        <div class="form-actions col-md-8" style="margin-top: 15px; margin-bottom:7px;height: 50px;">
          <%= f.label 'Would you recommend this college? ', class: 'string required control-label' ,:style => "float:left;margin-right:20px;"%>
          <%= f.radio_button :recommend_this_school, '1' %>
          <%= label :recommend_this_school, 'Yes',:style => "font-weight:normal;" %>
          <%= f.radio_button :recommend_this_school, '0' %>
          <%= label :recommend_this_school, 'No',:style => "font-weight:normal;" %>
        </div>
      </div>
      <br>
      <div class="form-group" style="margin-bottom:<%= margin_bottom_value %>;" >
        <div class="form-actions col-md-8" style="margin-top: 0px; margin-bottom:7px; height: 50px;">
          <%= f.label 'Was this college worth the money? ', class: 'string required control-label' ,:style => "float:left;margin-right:20px;"%>
          <%= f.radio_button :worth_money, '1' %>
          <%= label :worth_money, 'Yes',:style => "font-weight:normal;" %>
          <%= f.radio_button :worth_money, '0' %>
          <%= label :worth_money, 'No',:style => "font-weight:normal;" %>
        </div>
      </div>
      <br>

      <%= f.hidden_field :party_school, id: "party-school-rating-value", :readonly => true  %>
      <div class="form-group" style="margin-bottom:0px;" >
        <div class="form-actions col-md-8">
          <div class="row">
            <div class="col-md-8">
              <%= f.label "Party school rating: ", class: 'string required control-label', :style => "float:left;margin-right:3px;" %>
              <%= f.text_field :party_school_f, class: 'sliding-scale-value', id: "amount-party-school", :readonly => true %>

            </div>
          </div>
        </div>
        <div class="form-actions col-md-8" style="height:32px;">
          <div class="ui-slider-wrapper ui-widget horizontal">

            <% if not mobile_device? %>
                <div class="ui-slider-labels">
                  <div class="ui-slider-label-ticks" style="left: 0%;border: none;"><span>0</span></div>
                  <div class="ui-slider-label-ticks" style="left: 20%;"><span>1</span></div>
                  <div class="ui-slider-label-ticks" style="left: 40%;"><span>2</span></div>
                  <div class="ui-slider-label-ticks" style="left: 60%;"><span>3</span></div>
                  <div class="ui-slider-label-ticks" style="left: 80%;"><span>4</span></div>
                  <div class="ui-slider-label-ticks" style="left: 100%;border: none;"><span>5</span></div>
                </div>

                <div id="slider-party-school" class="ui-slider ui-slider-horizontal ui-widget-content ui-corner-all" style="border: none;">
                  <a href="#" class="ui-slider-handle" style="border: 1px solid #999999;"></a>
                </div>

            <% else %>

                <div class="ui-slider-labels" style="top:0;">
                  <img alt="Star off" height="25" src="/star-off.png" width="25" id="party-school-star_0" onclick="changePartySchool(this)" style="vertical-align: top;">
                  <img alt="Star off" height="25" src="/star-off.png" width="25" id="party-school-star_1" onclick="changePartySchool(this)" style="vertical-align: top;">
                  <img alt="Star off" height="25" src="/star-off.png" width="25" id="party-school-star_2" onclick="changePartySchool(this)" style="vertical-align: top;">
                  <img alt="Star off" height="25" src="/star-off.png" width="25" id="party-school-star_3" onclick="changePartySchool(this)" style="vertical-align: top;">
                  <img alt="Star off" height="25" src="/star-off.png" width="25" id="party-school-star_4" onclick="changePartySchool(this)" style="vertical-align: top;">
                </div>
            <% end %>

          </div>
        </div>
      </div>



      <%= f.hidden_field :rating, id: "school-rating-value", :readonly => true  %>
      <div class="form-group" style="margin-bottom:0px; " >
        <div class="form-actions col-md-8" style="margin-top: 20px; margin-bottom: 0;">
          <div class="row">
            <div class="col-md-8">
              <%= f.label "School Rating: ", class: 'string required control-label', :style => "float:left;margin-right:3px;" %>
              <%= f.text_field :rating_f, class: 'sliding-scale-value', id: "rating-amount", :readonly => true %>
            </div>
          </div>
        </div>
        <div class="form-actions col-md-8" style="margin-bottom:7px;max-height:132px;">
          <div class="ui-slider-wrapper ui-widget horizontal">

            <% if not mobile_device? %>
                <div class="ui-slider-labels">
                  <div class="ui-slider-label-ticks" style="left: 0%;border: none;"><span>0</span></div>
                  <div class="ui-slider-label-ticks" style="left: 20%;"><span>1</span></div>
                  <div class="ui-slider-label-ticks" style="left: 40%;"><span>2</span></div>
                  <div class="ui-slider-label-ticks" style="left: 60%;"><span>3</span></div>
                  <div class="ui-slider-label-ticks" style="left: 80%;"><span>4</span></div>
                  <div class="ui-slider-label-ticks" style="left: 100%;border: none;"><span>5</span></div>
                </div>

                <div id="slider-rating" class="ui-slider ui-slider-horizontal ui-widget-content ui-corner-all" style="border: none;">
                  <a href="#" class="ui-slider-handle" style="border: 1px solid #999999;"></a>
                </div>
            <% else %>
                <div class="ui-slider-labels" style="top:0;">
                  <img alt="Star off" height="25" src="/star-off.png" width="25" id="school-star_0" onclick="changeSchoolStar(this)" style="vertical-align: top;">
                  <img alt="Star off" height="25" src="/star-off.png" width="25" id="school-star_1" onclick="changeSchoolStar(this)" style="vertical-align: top;">
                  <img alt="Star off" height="25" src="/star-off.png" width="25" id="school-star_2" onclick="changeSchoolStar(this)" style="vertical-align: top;">
                  <img alt="Star off" height="25" src="/star-off.png" width="25" id="school-star_3" onclick="changeSchoolStar(this)" style="vertical-align: top;">
                  <img alt="Star off" height="25" src="/star-off.png" width="25" id="school-star_4" onclick="changeSchoolStar(this)" style="vertical-align: top;">
                </div>

            <% end %>

          </div>
        </div>
      </div>



      <%= f.form_group :debt_string do |f| %>
          <div class="form-actions col-md-8" style="position: relative;top:-20px;">
            <%= f.label "Debt after graduating", class: 'string required control-label' %>
            <div class="input-group">
              <span class="input-group-addon">$</span>
              <%= f.text_field :debt_string, class: 'form-control', placeholder: "ex. 18999" %>
              <span class="input-group-addon">.00</span>
            </div>
          </div>
      <% end %>



      <%= f.form_group :school_review do |f| %>
          <div class="form-actions col-md-8" style="margin-top: 25px;">
            <%= f.label "Review your college", class: 'string required control-label' %>
            <%= f.text_area :school_review, class: 'form-control', rows: 10, placeholder: "pros/cons, advice to students" %>
          </div>
      <% end %>



      <div class="form-group"  style="margin-bottom: 0px;margin-top:35px;">
        <div class="form-actions col-md-8" style="margin-bottom: 0;margin-top:35px;color: #f6931f;">
          <h3 style="margin-bottom: 0px;margin-top: 18px;font-weight: bold;">Major specific questions</h3>
        </div>
      </div>
      <!--<hr style="margin-top:2px; margin-bottom: 15px;">-->



      <div class="form-group" style="margin-bottom:<%= margin_bottom_value %>;" >
        <div class="form-actions col-md-8" style="margin-top: 15px; margin-bottom:7px;height: 50px;">
          <%= f.label 'Would you recommend this major? ', class: 'string required control-label' ,:style => "float:left;margin-right:20px;"%>
          <%= f.radio_button :recommend_this_major, '1' %>
          <%= label :recommend_this_major, 'Yes',:style => "font-weight:normal;" %>
          <%= f.radio_button :recommend_this_major, '0' %>
          <%= label :recommend_this_major, 'No',:style => "font-weight:normal;" %>
        </div>
      </div>
      <br>

      <%= f.hidden_field :difficulty, id: "difficulty-rating-value", :readonly => true  %>
      <div class="form-group" style="margin-bottom:0px;" >
        <div class="form-actions col-md-8">
          <div class="row">
            <div class="col-md-8">
              <%= f.label "Difficulty of major: ", class: 'string required control-label', :style => "float:left;margin-right:3px;" %>
              <%= f.text_field :difficulty_f, class: 'sliding-scale-value', id: "amount", :readonly => true %>

            </div>
          </div>
        </div>
        <div class="form-actions col-md-8" style="height:32px;">
          <div class="ui-slider-wrapper ui-widget horizontal">

            <div class="ui-slider-labels">
              <div class="ui-slider-label-ticks" style="left: 0%;border: none;"><span>0</span>
              </div>
              <div class="ui-slider-label-ticks" style="left: 20%;"><span>1</span>
              </div>
              <div class="ui-slider-label-ticks" style="left: 40%;"><span>2</span>
              </div>
              <div class="ui-slider-label-ticks" style="left: 60%;"><span>3</span>
              </div>
              <div class="ui-slider-label-ticks" style="left: 80%;"><span>4</span>
              </div>
              <div class="ui-slider-label-ticks" style="left: 100%;border: none;"><span>5</span>
              </div>
            </div>

            <div id="slider-range-max" class="ui-slider ui-slider-horizontal ui-widget-content ui-corner-all" style="border: none;">
              <a href="#" class="ui-slider-handle" style="border: 1px solid #999999;"></a>
            </div>

          </div>
        </div>
      </div>

      <!--<hr style="margin:15px 0;">-->

      <%= f.form_group :position_title do |f| %>
          <div class="form-actions col-md-8" style="margin-top: 25px;">
            <%= f.label "Starting job title after graduating", class: "string required control-label" %>
            <%= f.text_field :position_title, class: 'form-control', placeholder: "ex. Software Engineer" %>
            <%= f.error_messages %>
          </div>
      <% end %>



      <%= f.form_group :salary_string do |f| %>
          <div class="form-actions col-md-8" style="margin-top: 25px;">
            <%= f.label "Starting annual salary after graduating", class: 'string required control-label' %>
            <div class="input-group">
              <span class="input-group-addon">$</span>
              <%= f.text_field :salary_string, class: 'form-control', placeholder: "ex. 35999" %>
              <span class="input-group-addon">.00</span>
            </div>
            <%= f.error_messages %>
          </div>
      <% end %>


      <%= f.form_group :current_salary_string do |f| %>
          <div class="form-actions col-md-8" style="margin-top: 25px;">
            <%= f.label "Current salary right now", class: 'string required control-label' %>
            <div class="input-group">
              <span class="input-group-addon">$</span>
              <%= f.text_field :current_salary_string, class: 'form-control', placeholder: "ex. 75999" %>
              <span class="input-group-addon">.00</span>
            </div>
            <%= f.error_messages %>
          </div>
      <% end %>

      <%= f.form_group :review do |f| %>
          <div class="form-actions col-md-8" style="margin-top: 25px;">
            <%= f.label "Review your major", class: 'string required control-label' %>
            <%= f.text_area :review, class: 'form-control', rows: 10, placeholder: "pros/cons, career satisfaction, advice to students" %>
          </div>
      <% end %>

      <div class="form-actions col-md-9" style="margin-top: 10px;">
        <%= f.submit class: 'btn btn-primary' %>
        <%= link_to "Cancel", root_path, class: 'btn' %>
      </div>

      <!--</div>-->
  <% end %>
</div>


<script>
    function changePartySchool(e) {
//       alert("changePartySchool" + e.id);

        var starIndex = e.id.split("_")[1];
//        alert("queryString: "+queryString );

        for (var i = 0; i < 5; i++ ) {
            var element = document.getElementById("party-school-star_" + i.toString());
            element.src = (i <= parseInt(starIndex)) ? "/star-on.png" : "/star-off.png";
        }

        var displayTextElement = document.getElementById("amount-party-school");
        switch (parseInt(starIndex)) {
            case 0:     displayTextElement.value = "Didn't really party";       break;
            case 1:     displayTextElement.value = "meh, partying was ok";      break;
            case 2:     displayTextElement.value = "Partied occasionally";      break;
            case 3:     displayTextElement.value = "Partied constantly";        break;
            case 4:     displayTextElement.value = "Non-stop partying!";        break;
        }

        var partySchoolRatingValueElement = document.getElementById("party-school-rating-value");
        partySchoolRatingValueElement.value = (parseInt(starIndex) + 1).toString();
    }

    function changeSchoolStar(e) {
//       alert("changePartySchool" + e.id);

        var starIndex = e.id.split("_")[1];
//        alert("queryString: "+queryString );

        for (var i = 0; i < 5; i++ ) {
            var element = document.getElementById("school-star_" + i.toString());
            element.src = (i <= parseInt(starIndex)) ? "/star-on.png" : "/star-off.png";
        }

        var displayTextElement = document.getElementById("rating-amount");
        switch (parseInt(starIndex)) {
            case 0:     displayTextElement.value = "Worst college ever";        break;
            case 1:     displayTextElement.value = "meh, college is ok";        break;
            case 2:     displayTextElement.value = "Good reputation";           break;
            case 3:     displayTextElement.value = "Strong stature";            break;
            case 4:     displayTextElement.value = "Best college ever!";        break;
        }

        var partySchoolRatingValueElement = document.getElementById("school-rating-value");
        partySchoolRatingValueElement.value = (parseInt(starIndex) + 1).toString();
    }
</script>

