
<div class="container animate-fade-in-500" style="margin-bottom: 8px;">
  <div class="row" >
    <div class="col-lg-4" style="margin-right: 0;padding-right: 0;">
      <h3 style="margin:0;"><%= @reviews.length %> Reviewed Major<% if @reviews.length != 1 %>s<% end %> for this College</h3>
    </div>
    <div class="col-lg-4 col-md-8" style="margin-left: 0; padding-left: 0;">
      <p style="margin: 6px 0 0 0; text-align: right;"><em>New grad?</em> <%= link_to 'Review a Major for this college!', majors_index_path( :school_id => @school_id ) %></p>
    </div>
  </div>
</div>

<div class="container animate-fade-in-500" style="margin-bottom: 8px;">
  <div class="col-md-8" style="padding: 0;">
    <table class="table">
      <div class="panel panel-default" style="margin-bottom: 0">
        <div class="panel-heading">
          <% if not mobile_device? %>
              Reviews
              <div class="pull-right">
          <% end %>
            Sort by:

            <%= select_tag('sort_by', options_for_select([
                    ["Most Recent","/school_reviews?id=#{@school_id}&sort=most_recent&the_school%5Bschool_id%5D=#{@school_id}#thesortablecomments"],
                    ["Graduation Year","/school_reviews?id=#{@school_id}&sort=graduation_year&the_school%5Bschool_id%5D=#{@school_id}#thesortablecomments"],
                    ["Highest Paying","/school_reviews?id=#{@school_id}&sort=highest_paying&the_school%5Bschool_id%5D=#{@school_id}#thesortablecomments"],
                    ["Major Name","/school_reviews?id=#{@school_id}&sort=major_name_alphabetical&the_school%5Bschool_id%5D=#{@school_id}#thesortablecomments"]],
                     "/school_reviews?id=#{@school_id}&sort=#{@selected_sort_order}&the_school%5Bschool_id%5D=#{@school_id}#thesortablecomments"),
                     :onchange => "document.location.href=this.value") %>

          <% if not mobile_device? %>
          </div>
          <% end %>
        </div>
      </div>
      <tbody>
      <% if @reviews != nil && @reviews.length > 0 %>
          <% @reviews.each do |review| %>
              <tr>
                <td>
                  <ol class="list-unstyled">
                    <li>
                      <h3 style="margin-bottom: 3px; margin-top: 10px">
                        <% if review.title != nil && review.title.length > 0 %>
                            <%= review.title %>
                        <% else %>
                            <%= review.major_name %>
                        <% end %>
                      </h3>
                      <div class="article-meta media color-grey-50" style="margin-top: 0;">
                        <div class="media-body">
                          <p class="m0 media-heading">
                            <% amount = (review.annual_salary > 1000000) ? '$1Million+' : number_to_currency(review.annual_salary, precision: 2)  %>
                            Starting Annual Salary: <span class="page-hits m0 text-green-400"><strong><%= amount %></strong></span>
                          </p>
                        </div>
                      </div>
                      <div class="article-meta media color-grey-50">
                        <div class="media-body">
                          <p class="m0 media-heading">
                            Review by
                            <%= link_to  review.user_name, school_review_path(review) %>
                            •

                            <em><%= link_to 'Class of ' + review.year_graduated.to_s, school_review_path(review) %></em>
                            •
                            Majoring in
                            <%= link_to review.major_name,  major_reviews_path(:major_id => review.major_id ) %>
                            <time class="pull-right"><%= review.created_at.strftime("%m/%d/%Y") %></time>
                          </p>
                        </div>
                      </div>

                      <p style="margin-bottom: 8px;">
                        <%= review.review %>
                      </p>
                      <% if review.vote_count %>
                          <% likes = ((review.reputation_for(:votes) + review.vote_count)/(review.vote_count * 2)) * review.vote_count %>
                      <% else %>
                          <% likes = 0 %>
                      <% end %>
                      <%= link_to "likes (" + likes.to_i.to_s + ")", school_review_path(review) %>
                      <span class="pull-right">
                    <%= link_to 'Read more or ask this grad →', school_review_path(review) %>
                  </span>
                    </li>
                  </ol>
                </td>
              </tr>
          <% end %>
      <% else %>
      <% end %>
      </tbody>
    </table>
    <hr>
  </div> <!-- /#content -->
</div>