<% content_for :actions do %>
  <%= link_to majors_index_path( :school_id => @school_id ), class: 'btn btn-primary btn-large pull-right' do %>
         Post Major Review
  <% end %>
<% end %>

<% @small_text = @school.city + ", " + @state.name %>


<div class="container-fluid">  <!-- This is your outer page container, just here so it works as a standalone example -->
  <div class="row">
    <div class="col-xs-12">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-8" style="position: relative;left: -18px;">
            <dl class="dl-horizontal">
              <% if @school.rating_average == nil then %>
                  <dt id="atg-dt-index-description">School Rating: </dt>
                  <dd id="atg-dd-index-description">N/A</dd>
                  <dt id="atg-dt-index-description">Grads Recommending This School: </dt>
                  <dd id="atg-dd-index-description">N/A</dd>
                  <dt id="atg-dt-index-description">Party School Rating:  </dt>
                  <dd id="atg-dd-index-description">N/A</dd>
                  <dt id="atg-dt-index-description">Grads Saying It Was Worth The Money: </dt>
                  <dd id="atg-dd-index-description">N/A</dd>
                  <dt id="atg-dt-index-description">Average Starting Salary After Graduating: </dt>
                  <dd id="atg-dd-index-description">N/A</dd>
                  <dt id="atg-dt-index-description">Average Debt After Graduating: </dt>
                  <dd id="atg-dd-index-description">N/A</dd>
              <% else  %>
                  <dt id="atg-dt-index-description">School Rating: </dt>
                  <dd id="atg-dd-index-description"><%= number_with_precision(@school.rating_average, precision: 1) %> <small><em>out of 5</em></small></dd>
                  <dt id="atg-dt-index-description">Party School Rating:  </dt>
                  <dd id="atg-dd-index-description"><%= number_with_precision(@school.party_average, precision: 1) %> <small><em>out of 5</em></small></dd>
                  <dt id="atg-dt-index-description">Grads Recommending This School: </dt>
                  <dd id="atg-dd-index-description"><%= number_to_percentage(@school.recommend_average*100, precision: 0) %></dd>
                  <dt id="atg-dt-index-description">Grads Saying It Was Worth The Money: </dt>
                  <dd id="atg-dd-index-description"><%= number_to_percentage(@school.worth_money_average*100,precision: 0) %></dd>
                  <dt id="atg-dt-index-description">Average Starting Salary After Graduating: </dt>
                  <dd id="atg-dd-index-description"><%= number_to_currency(@school.salary_average, precision: 2) %></dd>
                  <dt id="atg-dt-index-description">Average Debt After Graduating: </dt>
                  <dd id="atg-dd-index-description"><%= number_to_currency(@school.debt_average, precision: 2) %></dd>
              <% end %>
            </dl>
          </div>
          <!--</div>-->
          <div class="col-md-4">
            <!--<div class="well">-->
              <div class="thumbnail">
                <div class="caption">
                  <h3>Top paying Majors from this College</h3>
                  <dl>
                    <dt><a>Computer Science</a></dt>
                    <dd>$79,444.00</dd>
                    <dt><a>Law</a></dt>
                    <dd>$78,345.00</dd>
                    <dt><a>Chemical Engineering</a></dt>
                    <dd>$78,001.00</dd>
                    <dt><a>Teaching</a></dt>
                    <dd>$77,990.00</dd>
                  </dl>
                </div>
              </div>
            <!--</div>-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<p><em>New grad?</em> <%= link_to 'review a Major for this college', majors_index_path( :school_id => @school_id ) %></p>



<div class="sheet sheet-condensed">
  <div class="sheet-inner" style="padding-top: 10px;">
    <div class="container-fluid">  <!-- This is your outer page container, just here so it works as a standalone example -->
      <div class="row">
        <div class="col-xs-12">
          <div class="container-fluid">
            <div class="row">
              <div class="col-xs-4 "><em>
                Class of <a>2015</a>
              </em></div>
              <div class="col-xs-8">
                <strong>
                  This is my subject title!
                </strong>
              </div>
            </div>
            <div class="row">
              <!--<div class="col-xs-3" style="background-color: #666666;">-->
              <div class="col-xs-4" style="position: relative;left: -18px;">
                <dl class="dl-horizontal">
                  <dt>Rating:</dt>
                  <dd>4.5</dd>
                  <dt>Party school rating:</dt>
                  <dd>4</dd>
                  <dt>Recommends school:</dt>
                  <dd>Yes</dd>
                  <dt>Worth the money:</dt>
                  <dd>Yes</dd>
                  <dt>Starting annual salary:</dt>
                  <dd>1Million+</dd>
                  <dt>Debt after graduating:</dt>
                  <dd>$24,000</dd>
                </dl>
              </div>
              <!--</div>-->
              <div class="col-xs-8">
                <div class="well">
                  On March 31, when the official college decisions were posted online, Harold Ekeh logged onto his computer in Elmont, New York. The 17-year-old was shocked to discover he was accepted to all eight Ivies, as well as the Massachusetts Institute of Technology, Johns Hopkins, Vanderbilt, New York University and SUNY Stony Brook
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-3">
                <p><small>comments: <a>23</a></small></p>
              </div>
              <div class="col-xs-9">
                <!-- blank -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <hr>
    <div class="container-fluid">  <!-- This is your outer page container, just here so it works as a standalone example -->
      <div class="row">
        <div class="col-xs-12">
          <div class="container-fluid">
            <div class="row">
              <div class="col-xs-4 " style="margin-bottom: 15px;"><em>
                Class of <a>2015</a>
              </em></div>
              <div class="col-xs-8">
                <strong>
                  This is my subject title! and now lets make this the longest yard man i think we have it.
                </strong>
              </div>
            </div>
            <div class="row">
              <!--<div class="col-xs-3" style="background-color: #666666;">-->
              <div class="col-xs-4">
                <dl class="dl-horizontal">
                  <dt>Rating:</dt>
                  <dd>4.5</dd>
                  <dt>Party school rating:</dt>
                  <dd>4</dd>
                  <dt>Recommends school:</dt>
                  <dd>Yes</dd>
                  <dt>Worth the money:</dt>
                  <dd>Yes</dd>
                  <dt>Starting annual salary:</dt>
                  <dd>1Million+</dd>
                  <dt>Debt after graduating:</dt>
                  <dd>$24,000</dd>
                </dl>
              </div>
              <!--</div>-->
              <div class="col-xs-8">
                <div class="well">
                  On March 31, when the official college decisions were posted online, Harold Ekeh logged onto his computer in Elmont, New York. The 17-year-old was shocked to discover he was accepted to all eight Ivies, as well as the Massachusetts Institute of Technology, Johns Hopkins, Vanderbilt, New York University and SUNY Stony Brook
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-3">
                <p><small>comments: <a>23</a></small></p>
              </div>
              <div class="col-xs-9">
                <!-- blank -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>


<!--<div class="sheet sheet-condensed">-->
  <!--<div class="sheet-inner">-->
    <!--<table class="table">-->
      <!--<thead>-->
        <!--<tr>-->
          <!--<th>Title</th>-->
          <!--<th>Year graduated</th>-->
          <!--<th>Recommend this college</th>-->
          <!--<th>Rating</th>-->
          <!--<th>Party school</th>-->
          <!--<th>Annual salary</th>-->
          <!--<th>Worth money</th>-->
          <!--<th>Debt</th>-->
          <!--<th>Review</th>-->
          <!--<th></th>-->
        <!--</tr>-->
      <!--</thead>-->
      <!--<tbody>-->
      <!--<% @reviews.each do |review| %>-->
        <!--<tr>-->
          <!--<td><%= review.title %></td>-->
          <!--<td><%= review.year_graduated %></td>-->
          <!--<td><%= review.recommend_this_school %></td>-->
          <!--<td><%= review.rating %></td>-->
          <!--<td><%= review.party_school %></td>-->
          <!--<td><%= review.annual_salary %></td>-->
          <!--<td><%= review.worth_money %></td>-->
          <!--<td><%= review.debt %></td>-->
          <!--<td><%= review.review %></td>-->
          <!--<td class="actions">-->
            <!--<%= link_to root_path, review, rel: 'tooltip', title: 'Show' %>-->
            <!--<%= link_to root_path, edit_school_review_path(review), rel: 'tooltip', title: 'Edit' %>-->
            <!--<%= link_to root_path, review, rel: 'tooltip', title: 'Delete',
                        data: { confirm: 'Are you sure?' }, method: :delete %>-->
          <!--</td>-->
        <!--</tr>-->
      <!--<% end %>-->
      <!--<% if @reviews.length == 0 %>-->
        <!--<tr><td colspan=42 class='text-center'>No College Reviews. Be the first!</td></tr>-->
      <!--<% end %>-->
      <!--</tbody>-->
    <!--</table>-->
  <!--</div>&lt;!&ndash; /.sheet-inner &ndash;&gt;-->
<!--</div>&lt;!&ndash; /.sheet &ndash;&gt;-->
