<% content_for :actions do %>
  <%= link_to majors_index_path( :school_id => @school_id ), class: 'btn btn-primary btn-large pull-right' do %>
         Post Major Review
  <% end %>
<% end %>

<% @small_text = @school.city + ", " + @state.name %>

<div class="container-fluid animate-fade-in-500">
  <div class="row mt20">
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8" >
      <div class="row" >
        <div class="col-lg-8">
          <h3 style="margin:0;">Here are some quick stats for this college</h3>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid animate-fade-in-500">
  <div class="row mt20">
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8" >
      <div class="row" >
        <div class="col-lg-6">
          <div class="panel panel-danger" id="panels">
            <div class="panel-heading">
              <p class="lead">
                <i class="fa fa-star-half-full">
                </i>
                OVERALL <b>SCHOOL RATING</b>
              </p>
            </div>
            <div class="panel-body text-xs-center text-md-center text-lg-center" >
              <h2 class="page-hits m0 text-red-400">
                <% if @school.rating_average != nil %>
                    <%= number_with_precision(@school.rating_average, precision: 1) %> <small>out of 5</small>
                <% else %>
                    0.0 <small>out of 5</small>
                <% end %>

              </h2>
            </div>
            <div class="panel-footer">
              <% if @school.rating_average != nil && @school.rating_average > 0 %>
                  <% if @school.rating_average < 1 %>
                      This college is terrible
                  <% elsif @school.rating_average < 2 %>
                        Not a great college
                  <% elsif @school.rating_average < 3 %>
                        This college is just kind of meh..
                  <% elsif @school.rating_average < 4 %>
                        This college is good
                  <% elsif @school.rating_average < 5 %>
                        This college is great
                  <% else %>
                        Best college ever!
                  <% end %>
              <% else %>
                Average school rating for this college
              <% end %>

            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="panel panel-danger" id="panels">
            <div class="panel-heading">
              <p class="lead">
                <i class="fa fa-users">
                </i>
                PARTY <b>SCHOOL RATING</b>
              </p>
            </div>
            <div class="panel-body text-xs-center text-md-center text-lg-center" >
              <h2 class="page-hits m0 text-red-400">
                <% if @school.party_average != nil %>
                    <%= number_with_precision(@school.party_average, precision: 1) %> <small>out of 5</small>
                <% else %>
                    0.0 <small>out of 5</small>
                <% end %>

              </h2>
            </div>
            <div class="panel-footer">
              <% if @school.party_average != nil && @school.party_average > 0 %>
                  <% if @school.party_average < 1 %>
                      Pretty much no parties here :-(
                  <% elsif @school.party_average < 2 %>
                      Not a great party school
                  <% elsif @school.party_average < 3 %>
                      Partying here is kind of meh..
                  <% elsif @school.party_average < 4 %>
                      Good party school
                  <% elsif @school.party_average < 5 %>
                      This is a great party school
                  <% else %>
                      Best party school ever!
                  <% end %>
              <% else %>
                  Average party rating for this college
              <% end %>
            </div>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-lg-6">
          <div class="panel panel-success" id="panels">
            <div class="panel-heading">
              <p class="lead">
                <i class="fa fa-smile-o">
                </i>
                AVERAGE <b>STARTING SALARY</b>
              </p>
            </div>
            <div class="panel-body text-xs-center text-md-center text-lg-center" >
              <h2 class="page-hits m0 text-green-400">
                <% if @school.salary_average != nil %>
                    <%= number_to_currency(@school.salary_average, precision: 2) %>
                <% else %>
                    $0.00
                <% end %>

              </h2>
            </div>
            <div class="panel-footer">
              Average starting salary after graduation
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="panel panel-success" id="panels">
            <div class="panel-heading">
              <p class="lead">
                <i class="fa fa-frown-o">
                </i>
                AVERAGE <b>COLLEGE DEBT</b>
              </p>
            </div>
            <div class="panel-body text-xs-center text-md-center text-lg-center" >
              <h2 class="page-hits m0 text-green-400">
                <% if @school.debt_average != nil %>
                    <%= number_to_currency(@school.debt_average, precision: 2) %>
                <% else %>
                    $0.00
                <% end %>

              </h2>
            </div>
            <div class="panel-footer">
              Average tuition debt after graduating
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
      <div class="panel panel-default">
        <div class="panel-heading" style="border-bottom: none;">
          <h3 class="panel-title">Top paying Majors from this college for class <%= (Date.today.year) %>, <%= (Date.today.year - 1) %>, and <%= (Date.today.year - 2) %></h3>
        </div>
        <div class="panel-body" style="padding: 0 15px 15px 15px;">
          <div class="table-responsive">
            <table class="table table-striped" style="margin-bottom: 0;">
              <tbody>
              <% amounts_array = @school.top_major_amounts.to_s.split("^")%>
              <% ids_array = @school.top_major_ids.to_s.split("^")%>
              <% names_array = @school.top_major_names.to_s.split("^")%>
              <% (0..4).each do |index|%>
                <tr>
                  <td><%= index + 1 %></td>
                  <td>
                    <ul class="list-unstyled small" style="margin-bottom: 0;">
                      <li style="margin-bottom: 0;">
                        <% if amounts_array[index] != nil && amounts_array[index].to_s != "" %>
                            <b><%= link_to names_array[index].to_s, :action => "index", :id => @school_id, :the_school => { :school_id => @school.id }, :sort => ids_array[index].to_s  %></b><br/>
                            <%= number_to_currency(amounts_array[index].to_i, precision: 2) %>
                        <% else %>
                            <b>N/A</b>
                        <% end %>
                      </li>
                    </ul>
                  </td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>



<div class="container-fluid animate-fade-in-500" style="margin-bottom: 8px;">
  <div class="row mt20">
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8" >
      <div class="row" >
        <div class="col-lg-6">
          <h3 style="margin:0;"><%= @reviews.length %> Reviewed Major<% if @reviews.length != 1 %>s<% end %> for this College</h3>
        </div>
        <div class="col-lg-6">
          <p style="margin: 6px 0 0 0;"><em>New grad?</em> <%= link_to 'review a Major for this college', majors_index_path( :school_id => @school_id ) %></p>
        </div>
      </div>
    </div>
  </div>
</div>




<div id="content" class="col-md-9">
      <table class="table">
        <div class="panel panel-default" style="margin-bottom: 0">
            <div class="panel-heading">
              Reviews
              <div class="pull-right">
                  Sort by:
                  <%= link_to 'Most Recent', :action => "index", :id => @school_id, :the_school => { :school_id => @school.id }, :sort => 'most_recent'  %> |
                  <%= link_to 'Graduation Year', :action => "index", :id => @school_id, :the_school => { :school_id => @school.id }, :sort => 'graduation_year'  %> |
                  <%= link_to 'Highest Paying', :action => "index", :id => @school_id, :the_school => { :school_id => @school.id }, :sort => 'highest_paying'  %> |
                  <%= link_to 'Major Name', :action => "index", :id => @school_id, :the_school => { :school_id => @school.id }, :sort => 'major_name_alphabetical'  %>
                </div>
            </div>
        </div>
        <tbody>
        <% if @reviews != nil && @reviews.length > 0 %>
            <% @reviews.each do |review| %>
            <tr>
              <td>
                <ol class="list-unstyled">
                <li>
                  <h3 style="margin-bottom: 3px; margin-top: 10px">
                    <% if review.title != nil && review.title.length > 0 %>
                    <%= review.title %>
                    <% else %>
                    <%= review.major_name %>
                    <% end %>
                  </h3>
                  <div class="article-meta media color-grey-50" style="margin-top: 0;">
                    <div class="media-body">
                      <p class="m0 media-heading">
                        Starting Annual Salary: <span class="page-hits m0 text-green-400"><strong><%= number_to_currency(review.annual_salary, precision: 2) %></strong></span>
                      </p>
                    </div>
                  </div>
                  <div class="article-meta media color-grey-50">
                    <div class="media-body">
                      <p class="m0 media-heading">
                        <%= link_to 'By '+ review.user_name, school_review_path(review) %>
                        majoring in
                        <%= link_to review.major_name,  major_reviews_path(:major_id => review.major_id ) %>
                        •
                        <time><em>Class of <%= review.year_graduated %></em></time>
                        <time class="pull-right"><%= review.created_at.strftime("%m/%d/%Y") %></time>
                      </p>
                    </div>
                  </div>

                  <p style="margin-bottom: 8px;">
                    <%= review.review %>
                  </p>
                  <%= link_to 'Read more or ask this grad →', school_review_path(review) %>
                </li>
              </ol>
              </td>
            </tr>
            <% end %>
        <% else %>
        <% end %>
        </tbody>
      </table>
  <hr>
</div> <!-- /#content -->

<%= render "layouts/footer" %> <br >



