
<div class="container animate-fade-in-500">
  <div class="row mt20">
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8" >
      <h3 style="margin-bottom: 30px; margin-top: 10px">
        <% if @school_review.title != nil && @school_review.title.length > 0 %>
            <%= @school_review.title %>
        <% else %>
            <%= @school_review.major_name %>
        <% end %>
      </h3>
      <div style="margin-bottom: 30px;">
      <div class="row" >
        <div class="col-lg-6">
          <div class="article-meta media color-grey-50" style="margin-top: 0;">
            <div class="media-body">
              <p class="m0 media-heading">
                Class of: <span class="page-hits m0 text-green-400 pull-right"><strong><%= @school_review.year_graduated %></strong></span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="article-meta media color-grey-50" style="margin-top: 0;">
            <div class="media-body">
              <p class="m0 media-heading">
                Majoring in: <span class="page-hits m0 text-green-400 pull-right"><strong><%= @school_review.major_name %></strong></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row" >
        <div class="col-lg-6">
          <div class="article-meta media color-grey-50" style="margin-top: 0;">
            <div class="media-body">
              <p class="m0 media-heading">
                School Rating: <span class="page-hits m0 text-green-400 pull-right"><strong><%= @school_review.rating %></strong><small style="color: black;"> out of 5</small></span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="article-meta media color-grey-50" style="margin-top: 0;">
            <div class="media-body">
              <p class="m0 media-heading">
                Party School Rating: <span class="page-hits m0 text-green-400 pull-right"><strong><%= @school_review.party_school %></strong><small style="color: black;"> out of 5</small></span>
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="row" >
        <div class="col-lg-6">
          <div class="article-meta media color-grey-50" style="margin-top: 0;">
            <div class="media-body">
              <p class="m0 media-heading">
                <% amount = (@school_review.annual_salary > 1000000) ? '$1Million+' : number_to_currency(@school_review.annual_salary, precision: 2)  %>
                Starting Salary after Graduation: <span class="page-hits m0 text-green-400 pull-right"><strong><%= amount  %></strong></span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="article-meta media color-grey-50" style="margin-top: 0;">
            <div class="media-body">
              <p class="m0 media-heading">
                <% amount = (@school_review.debt > 1000000) ? '$1Million+' : number_to_currency(@school_review.debt, precision: 2)  %>
                Debt after Graduation: <span class="page-hits m0 text-green-400 pull-right"><strong><%= amount %></strong></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row" >
        <div class="col-lg-6">
          <div class="article-meta media color-grey-50" style="margin-top: 0;">
            <div class="media-body">
              <p class="m0 media-heading">
                Recommending this College: <span class="page-hits m0 text-green-400 pull-right"><strong>
                <% if @school_review.recommend_this_school %>
                    Yes
                <% else %>
                    No
                <% end %></strong></span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="article-meta media color-grey-50" style="margin-top: 0;">
            <div class="media-body">
              <p class="m0 media-heading">
                Recommending this Major: <span class="page-hits m0 text-green-400 pull-right"><strong>
                <% if @school_review.recommend_this_major %>
                    Yes
                <% else %>
                    No
                <% end %></strong></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      </div>
      <% if mobile_device? %>
      <div class="article-meta media color-grey-50">
        <div class="media-body">
          <p class="m0 media-heading">
            Review by <b><%= @school_review.user_name %></b> on <time><%= @school_review.created_at.strftime("%m/%d/%Y") %></time>
          </p>
        </div>
      </div>
      <% end %>
      <p style="margin-bottom: 8px;">
        <%= @school_review.review %>
      </p>
      <% if mobile_device? %>
      <% if @school_review.vote_count %>
          <% likes = ((@school_review.reputation_for(:votes) + @school_review.vote_count)/(@school_review.vote_count * 2)) * @school_review.vote_count %>
          <% dislikes = @school_review.vote_count - likes %>
      <% else %>
          <% likes = 0 %>
          <% dislikes = 0 %>
      <% end %>

      <%= link_to content_tag(:i, nil, class: 'fa fa-thumbs-o-up'), vote_school_review_path(@school_review, type: "up"), id: "like", remote: true, method: "post" %> (<span id="show-likes"><%= likes.to_i %></span>) |
      <%= link_to content_tag(:i, nil, class: 'fa fa-thumbs-o-down'), vote_school_review_path(@school_review, type: "down"), id: "dislike", remote:true, method: "post" %> (<span id="show-dislikes"><%= dislikes.to_i %></span>)<br>
      <% end %>
    </div>
  </div>
</div>


<% if not mobile_device? %>
<div class="container animate-fade-in-500" >
  <div class="row mt20" >
    <div class="col-xs-10 col-sm-10 col-md-8 col-lg-8">

    <div class="media color-grey-50" style="background-color: white;padding-top: 5px;padding-left: 5px;border-radius: 4px;">
      <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
      <div class="pull-left" style="margin-right: 8px;">
        <i class="fa fa-user fa-2x"></i>
      </div>
      <div class="media-body">
        <p class="m0 media-heading">Published <time><%= @school_review.created_at.strftime("%b %d, %Y") %></time></p>
        <a href="#">by <%= @school_review.user_name %></a>
      </div>
    </div>

    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
      <div class="pull-right">
        <% if @school_review.vote_count %>
            <% likes = ((@school_review.reputation_for(:votes) + @school_review.vote_count)/(@school_review.vote_count * 2)) * @school_review.vote_count %>
            <% dislikes = @school_review.vote_count - likes %>
        <% else %>
            <% likes = 0 %>
            <% dislikes = 0 %>
        <% end %>

        <%= link_to content_tag(:i, nil, class: 'fa fa-thumbs-o-up'), vote_school_review_path(@school_review, type: "up"), id: "like", remote: true, method: "post" %> (<span id="show-likes"><%= likes.to_i %></span>) |
        <%= link_to content_tag(:i, nil, class: 'fa fa-thumbs-o-down'), vote_school_review_path(@school_review, type: "down"), id: "dislike", remote:true, method: "post" %> (<span id="show-dislikes"><%= dislikes.to_i %></span>)<br>

      </div>
    </div>
    </div>
    </div>
 </div>
</div>

<% end %>

<div class="container animate-fade-in-500">
  <div class="row mt20">
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
      <hr style="margin-top: 5px;margin-bottom: 5px;" />
        <h3 id="show-comment-count" style="margin-top: 15px;">
          <%= render 'commentcount' %>
        </h3>
          <table class="table">
            <!--<div class="panel panel-default" style="margin-bottom: 5px; background-color: transparent;">-->
              <!--<div class="panel-heading" style="margin-bottom: 8px;">-->
                <!--Comments-->
              <!--</div>-->

              <tbody>
              <span id="show-comments">
                <% if @comments && @comments.length > 0 %>
                  <%= render 'thecomments' %>
                <% else %>
                    <p>There are no comments for this post. Be the first!</p>
                <% end %>
              </span>
                  <div class="well  mt50 mb50">
                    <div class="row">
                      <div class="col-xs-12 col-sm-12 col-md-12" style="visibility: visible;">
                        <div class="form-group">
                        <span id="show-single-comment">
                        <%= render 'comment' %>
                        </span>
                        </div>
                      </div>
                    </div>
                  </div>
              </tbody>

            <!--</div>-->
          </table>
    </div>
  </div>
</div>


<noscript>Please enable JavaScript to view the comments</noscript>




