<!--<link rel="stylesheet" href="//code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css">-->
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.3/jquery-ui.js"></script>
  <script src="jquery.ui.touch-punch.min.js"></script>
<style type="text/css">
    .ui-slider-horizontal .ui-state-default {background: white url(http://stackoverflow.com/content/img/so/vote-arrow-down.png) no-repeat scroll 50% 50%;}
</style>




<script>
  $(function() {
      // This slider-range-max is for DIFFICULTY
    $( "#slider-range-max" ).slider({
      range: "max",
      min: 0,
      max: 5,
      step: 0.5,
      value: 0,
      slide: function( event, ui ) {
          var displayText = ui.value;
          if (displayText === 0){
              displayText = "Easy peasy"
          } else if (displayText === 0.5 ){
              displayText = "Lemon squeezy"
          } else if (displayText === 1 ){
              displayText = "Effortless"
          } else if (displayText === 1.5 ){
              displayText = "Uncomplicated"
          } else if (displayText === 2 ){
              displayText = "Not bad"
          } else if (displayText === 2.5 ){
              displayText = "meh.."
          } else if (displayText === 3 ){
              displayText = "Took some effort"
          } else if (displayText === 3.5 ){
              displayText = "Challenging"
          } else if (displayText === 4 ){
              displayText = "Very difficult"
          }else if (displayText === 4.5 ){
              displayText = "Needed coffee to survive"
          }else {
              displayText = "No life, just studying"
          }
          $( "#amount" ).val( displayText);
          $( "#difficulty-rating-value" ).val( ui.value );

          $( "#slider-range-max" ).css("background","#d0e4f7");
          $( "#slider-range-max" ).css("-webkit-box-shadow","inset -2px 2px 4px 0px rgba(0,0,0,0.75)");
          $( "#slider-range-max" ).css("-moz-box-shadow","inset -2px 2px 4px 0px rgba(0,0,0,0.75)");
          $( "#slider-range-max" ).css("box-shadow","inset -2px 2px 4px 0px rgba(0,0,0,0.75)");
          $( "#slider-range-max" ).css("border","none");
      }
    });
    $( "#amount" ).val( $( "#slider-range-max" ).slider( "value" ) );
      $( "#difficulty-rating-value" ).val( $( "#slider-range-max" ).slider( "value" ) );
    
    $( "#slider-rating" ).slider({
      range: "max",
      min: 0,
      max: 5,
      step: 0.5,
      value: 0,
      slide: function( event, ui ) {
          $( "#school-rating-value" ).val( ui.value );
          var displayText = ui.value;
          if (displayText === 0){
              displayText = "Worst college ever"
          } else if (displayText === 0.5 ){
              displayText = "Couldn't wait to leave"
          } else if (displayText === 1 ){
              displayText = "Disliked most days"
          } else if (displayText === 1.5 ){
              displayText = "Wasn't a fan"
          } else if (displayText === 2 ){
              displayText = "meh.."
          } else if (displayText === 2.5 ){
              displayText = "Still kind of meh.."
          } else if (displayText === 3 ){
              displayText = "It was alright"
          } else if (displayText === 3.5 ){
              displayText = "I enjoyed most days"
          } else if (displayText === 4 ){
              displayText = "College was good"
          }else if (displayText === 4.5 ){
              displayText = "School was a blast"
          }else {
              displayText = "Best college ever!"
          }
          $( "#rating-amount" ).val( displayText );

          $( "#slider-rating" ).css("background","#d0e4f7");
          $( "#slider-rating" ).css("-webkit-box-shadow","inset -2px 2px 4px 0px rgba(0,0,0,0.75)");
          $( "#slider-rating" ).css("-moz-box-shadow","inset -2px 2px 4px 0px rgba(0,0,0,0.75)");
          $( "#slider-rating" ).css("box-shadow","inset -2px 2px 4px 0px rgba(0,0,0,0.75)");
          $( "#slider-rating" ).css("border","none");

      }
    });
    $( "#rating-amount" ).val( $( "#slider-rating" ).slider( "value" ) );
      $( "#school-rating-value" ).val( $( "#slider-rating" ).slider( "value" ) );



      $( "#slider-party-school" ).slider({
          range: "max",
          min: 0,
          max: 5,
          step: 0.5,
          value: 0,
          slide: function( event, ui ) {
              var displayText = ui.value;
              if (displayText === 0){
                  displayText = "Never partied :-("
              } else if (displayText === 0.5 ){
                  displayText = "Didn't really have time"
              } else if (displayText === 1 ){
                  displayText = "Partied a few times"
              } else if (displayText === 1.5 ){
                  displayText = "Maybe once a month"
              } else if (displayText === 2 ){
                  displayText = "meh.."
              } else if (displayText === 2.5 ){
                  displayText = "Still kind of meh.."
              } else if (displayText === 3 ){
                  displayText = "Partied occasionally"
              } else if (displayText === 3.5 ){
                  displayText = "Partied often"
              } else if (displayText === 4 ){
                  displayText = "Always something to do"
              }else if (displayText === 4.5 ){
                  displayText = "Partied most days"
              }else {
                  displayText = "Non-stop partying!"
              }
              $( "#amount-party-school" ).val( displayText );
              $( "#party-school-rating-value" ).val( ui.value );

              $( "#slider-party-school" ).css("background","#d0e4f7");
              $( "#slider-party-school" ).css("-webkit-box-shadow","inset -2px 2px 4px 0px rgba(0,0,0,0.75)");
              $( "#slider-party-school" ).css("-moz-box-shadow","inset -2px 2px 4px 0px rgba(0,0,0,0.75)");
              $( "#slider-party-school" ).css("box-shadow","inset -2px 2px 4px 0px rgba(0,0,0,0.75)");
              $( "#slider-party-school" ).css("border","none");
          }
      });
      $( "#amount-party-school" ).val( $( "#slider-party-school" ).slider( "value" ) );
      $( "#party-school-rating-value" ).val( $( "#slider-party-school" ).slider( "value" ) );

  });
  </script>
<div class="container animate-fade-in-500" style="margin-bottom: 8px;">
<%= form_for @review  do |f| %>

    <% if @review.errors.any? %>

        <div class="alert alert-danger alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <strong><%= pluralize(@review.errors.count, "error") %> prohibited
            this review from being saved!</strong>
          <ul>
            <% @review.errors.each do |field,msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>



    <% end %>
  <%= f.hidden_field :major_id, :value => @major_id  %>
    <% if @school_id != nil %>
        <%= f.hidden_field :school_id, :value => @school_id  %>
    <% end %>

    <%= f.form_group :title do |f| %>
        <div class="form-actions col-md-8" style="margin-bottom: 20px;">
          <%= f.label "Title of your review", class: "string required control-label" %>
          <%= f.text_field :title, class: 'form-control' %>
          <%= f.error_messages %>
        </div>
    <% end %>


    <% years = ["Select graduation year"] %>
    <%
       for i in 0..50
         years.push(Date.today.year - i)
       end
    %>
    <div class="form-group"  >
      <div class="form-actions col-md-8">
        <%= f.label 'Year graduated: ', class: 'string required control-label' ,:style => "float:left;margin-right:20px;"%>
        <%= f.select :year_graduated, years, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group"  style="margin-top:15px;">
      <div class="form-actions col-md-8" style="margin-top:7px;padding-top: 0;">
        <h3 style="margin-bottom: 0px;margin-top: 18px;">Now, some questions about your college</h3>
      </div>
    </div>
    <!--<hr style="margin-top:2px; margin-bottom: 15px;">-->



    <div class="form-group" style="margin-bottom:0px;" >
              <div class="form-actions col-md-8" style="margin-top: 15px; margin-bottom:7px;height: 40px;">
        <%= f.label 'Would you recommend this college? ', class: 'string required control-label' ,:style => "float:left;margin-right:20px;"%>
        <%= f.check_box :recommend_this_school, class: 'form-control',:style => "float:left;margin-right:20px;height:auto;" %>
      </div>
    </div>
    <br>
    <div class="form-group" style="margin-bottom:0px;" >
      <div class="form-actions col-md-8" style="margin-top: 0px; margin-bottom:7px; height: 50px;">
        <%= f.label 'Was this college worth the money? ', class: 'string required control-label' ,:style => "float:left;margin-right:20px;"%>
        <%= f.check_box :worth_money, class: 'form-control',:style => "float:left;margin-right:20px;height:auto;" %>
      </div>
    </div>
    <br>

    <%= f.hidden_field :party_school, id: "party-school-rating-value", :readonly => true  %>
     <div class="form-group" style="margin-bottom:0px;" >
       <div class="form-actions col-md-8">
         <div class="row">
           <div class="col-md-8">
             <%= f.label "Party school rating: ", class: 'string required control-label', :style => "float:left;margin-right:3px;" %>
             <%= f.text_field :party_school_f, class: 'sliding-scale-value', id: "amount-party-school", :readonly => true %>

           </div>
         </div>
       </div>
       <div class="form-actions col-md-8" style="height:32px;">
         <div class="ui-slider-wrapper ui-widget horizontal">

           <div class="ui-slider-labels">
             <div class="ui-slider-label-ticks" style="left: 0%;border: none;"><span>0</span>
             </div>
             <div class="ui-slider-label-ticks" style="left: 20%;"><span>1</span>
             </div>
             <div class="ui-slider-label-ticks" style="left: 40%;"><span>2</span>
             </div>
             <div class="ui-slider-label-ticks" style="left: 60%;"><span>3</span>
             </div>
             <div class="ui-slider-label-ticks" style="left: 80%;"><span>4</span>
             </div>
             <div class="ui-slider-label-ticks" style="left: 100%;border: none;"><span>5</span>
             </div>
           </div>

           <div id="slider-party-school" class="ui-slider ui-slider-horizontal ui-widget-content ui-corner-all" style="border: none;">
             <a href="#" class="ui-slider-handle" style="border: 1px solid #999999;"></a>
           </div>

         </div>
       </div>
     </div>



    <%= f.hidden_field :rating, id: "school-rating-value", :readonly => true  %>
    <div class="form-group" style="margin-bottom:0px; " >
      <div class="form-actions col-md-8" style="margin-top: 20px; margin-bottom: 0;">
        <div class="row">
          <div class="col-md-8">
            <%= f.label "School Rating: ", class: 'string required control-label', :style => "float:left;margin-right:3px;" %>
            <%= f.text_field :rating_f, class: 'sliding-scale-value', id: "rating-amount", :readonly => true %>
          </div>
        </div>
      </div>
    <div class="form-actions col-md-8" style="margin-bottom:7px;max-height:132px;">
      <div class="ui-slider-wrapper ui-widget horizontal">
        <div class="ui-slider-labels">
          <div class="ui-slider-label-ticks" style="left: 0%;border: none;"><span>0</span></div>
          <div class="ui-slider-label-ticks" style="left: 20%;"><span>1</span></div>
          <div class="ui-slider-label-ticks" style="left: 40%;"><span>2</span></div>
          <div class="ui-slider-label-ticks" style="left: 60%;"><span>3</span></div>
          <div class="ui-slider-label-ticks" style="left: 80%;"><span>4</span></div>
          <div class="ui-slider-label-ticks" style="left: 100%;border: none;"><span>5</span></div>
        </div>

        <div id="slider-rating" class="ui-slider ui-slider-horizontal ui-widget-content ui-corner-all" style="border: none;">
          <a href="#" class="ui-slider-handle" style="border: 1px solid #999999;"></a>
        </div>

      </div>
    </div>
   </div>



    <%= f.form_group :debt do |f| %>
        <div class="form-actions col-md-8" style="position: relative;top:-20px;">
          <%= f.label "Debt after graduating", class: 'string required control-label' %>
          <div class="input-group">
            <span class="input-group-addon">$</span>
            <%= f.text_field :debt, class: 'form-control', placeholder: "ex. 18999" %>
            <span class="input-group-addon">.00</span>
          </div>
        </div>
    <% end %>



    <div class="form-group"  style="margin-bottom: 0px;margin-top:35px;">
      <div class="form-actions col-md-8" style="margin-bottom: 0;margin-top:7px;">
        <h3 style="margin-bottom: 0px;margin-top: 18px;">Major specific questions</h3>
      </div>
    </div>
    <!--<hr style="margin-top:2px; margin-bottom: 15px;">-->



    <div class="form-group" style="margin-bottom:0px;" >
      <div class="form-actions col-md-8" style="margin-top: 15px; margin-bottom:7px;height: 50px;">
        <%= f.label 'Would you recommend this major? ', class: 'string required control-label' ,:style => "float:left;margin-right:20px;"%>
        <%= f.check_box :recommend_this_major, class: 'form-control',:style => "float:left;margin-right:20px;height:auto;" %>
      </div>
    </div>
      <br>

    <%= f.hidden_field :difficulty, id: "difficulty-rating-value", :readonly => true  %>
    <div class="form-group" style="margin-bottom:0px;" >
      <div class="form-actions col-md-8">
        <div class="row">
          <div class="col-md-8">
            <%= f.label "Difficulty of major: ", class: 'string required control-label', :style => "float:left;margin-right:3px;" %>
            <%= f.text_field :difficulty_f, class: 'sliding-scale-value', id: "amount", :readonly => true %>

          </div>
        </div>
      </div>
      <div class="form-actions col-md-8" style="height:32px;">
        <div class="ui-slider-wrapper ui-widget horizontal">

          <div class="ui-slider-labels">
            <div class="ui-slider-label-ticks" style="left: 0%;border: none;"><span>0</span>
              </div>
            <div class="ui-slider-label-ticks" style="left: 20%;"><span>1</span>
              </div>
            <div class="ui-slider-label-ticks" style="left: 40%;"><span>2</span>
              </div>
            <div class="ui-slider-label-ticks" style="left: 60%;"><span>3</span>
              </div>
            <div class="ui-slider-label-ticks" style="left: 80%;"><span>4</span>
              </div>
            <div class="ui-slider-label-ticks" style="left: 100%;border: none;"><span>5</span>
              </div>
          </div>

          <div id="slider-range-max" class="ui-slider ui-slider-horizontal ui-widget-content ui-corner-all" style="border: none;">
            <a href="#" class="ui-slider-handle" style="border: 1px solid #999999;"></a>
          </div>

        </div>
      </div>
    </div>

    <!--<hr style="margin:15px 0;">-->
    
    <%= f.form_group :annual_salary do |f| %>
      <div class="form-actions col-md-8" style="margin-top: 25px;">
        <%= f.label "Starting annual salary after graduating", class: 'string required control-label' %>
        <div class="input-group">
          <span class="input-group-addon">$</span>
          <%= f.text_field :annual_salary, class: 'form-control', placeholder: "ex. 35999" %>
          <span class="input-group-addon">.00</span>
        </div>
        <%= f.error_messages %>
      </div>
    <% end %>
    
    <%= f.form_group :position_title do |f| %>
      <div class="form-actions col-md-8" style="margin-top: 25px;">
        <%= f.label "Starting job title after graduating", class: "string required control-label" %>
        <%= f.text_field :position_title, class: 'form-control', placeholder: "ex. Software Engineer" %>
        <%= f.error_messages %>
      </div>
    <% end %>
    
    <%= f.form_group :review do |f| %>
      <div class="form-actions col-md-8" style="margin-top: 25px;">
        <%= f.label "Review this major", class: 'string required control-label' %>
        <%= f.text_area :review, class: 'form-control', rows: 12, placeholder: "pros/cons, career satisfaction, advice to students" %>
        <%= f.error_messages %>
      </div>
    <% end %>

    <div class="form-actions col-md-9" style="margin-top: 10px;">
      <%= f.submit class: 'btn btn-primary' %>
      <%= link_to "Cancel", major_reviews_path, class: 'btn' %>
    </div>

  <!--</div>-->
<% end %>
</div>


