
<div class="container animate-fade-in-500" style="margin-bottom: 8px;">
  <div class="col-md-8" style="padding: 0;">
    <table class="table">
      <div class="panel panel-default" style="margin-bottom: 0">
        <div class="panel-heading">
          Reviews
          <div class="pull-right">
            Sort by:

            <%= select_tag('sort_by', options_for_select([
                                   ["Most Recent","/major_reviews?id=#{@major_id}&major_id=#{@major_id}&sort=most_recent#thesortablemajorcomments"],
                                   ["Graduation Year","/major_reviews?id=#{@major_id}&major_id=#{@major_id}&sort=graduation_year#thesortablemajorcomments"],
                                   ["Highest Paying","/major_reviews?id=#{@major_id}&major_id=#{@major_id}&sort=highest_paying#thesortablemajorcomments"],
                                   ["College Name","/major_reviews?id=#{@major_id}&major_id=#{@major_id}&sort=college_name_alphabetical#thesortablemajorcomments"]],
                                    "/major_reviews?id=#{@major_id}&major_id=#{@major_id}&sort=#{@selected_sort_order}#thesortablemajorcomments"),
                                    :onchange => "document.location.href=this.value") %>

          </div>
        </div>
      </div>
      <tbody>
      <% if @reviews != nil && @reviews.length > 0 %>
          <% @reviews.each do |review| %>
              <tr>
                <td>
                  <ol class="list-unstyled">
                    <li>
                      <h3 style="margin-bottom: 3px; margin-top: 10px">
                        <% if review.title != nil && review.title.length > 0 %>
                            <%= review.title %>
                        <% else %>
                            <%= review.major_name %>
                        <% end %>
                      </h3>
                      <div class="article-meta media color-grey-50" style="margin-top: 0;">
                        <div class="media-body">
                          <p class="m0 media-heading">
                            Starting Annual Salary: <span class="page-hits m0 text-green-400"><strong><%= number_to_currency(review.annual_salary, precision: 2) %></strong></span>
                          </p>
                        </div>
                      </div>
                      <div class="article-meta media color-grey-50">
                        <div class="media-body">
                          <p class="m0 media-heading">
                            <%= link_to 'By '+ review.user_name, school_review_path(review) %>
                            at
                            <%= link_to review.school_name,  school_reviews_path(:the_school => { :school_id => review.school_id } ) %>
                            •
                            <time><em>Class of <%= review.year_graduated %></em></time>
                            <time class="pull-right"><%= review.created_at.strftime("%m/%d/%Y") %></time>
                          </p>
                        </div>
                      </div>

                      <p style="margin-bottom: 8px;">
                        <%= review.review %>
                      </p>
                      <%= link_to 'Read more or ask this grad →', school_review_path(review) %>
                    </li>
                  </ol>
                </td>
              </tr>
          <% end %>
      <% else %>
      <% end %>
      </tbody>
    </table>
    <hr>
  </div>
</div>