
<div class="container animate-fade-in-500" style="margin-bottom: 8px;">
  <div class="row" >
    <div class="col-lg-4" style="margin-right: 0;padding-right: 0;">
      <h3 style="margin:0;"><%= @reviews.length %> Review<% if @reviews.length != 1 %>s<% end %> for this Major</h3>
    </div>
  </div>
</div>


<div class="container animate-fade-in-500" style="margin-bottom: 8px;">
  <div class="col-md-8" style="padding: 0;">
    <table class="table">
      <div class="panel panel-default" style="margin-bottom: 0">
        <div class="panel-heading">
          <% if not mobile_device? %>
          Reviews
          <div class="pull-right">
          <% end %>
            Sort by:

            <%= select_tag('sort_by', options_for_select([
                                   ["Most Recent","/major_reviews?id=#{@major_id}&major_id=#{@major_id}&sort=most_recent#thesortablemajorcomments"],
                                   ["Graduation Year","/major_reviews?id=#{@major_id}&major_id=#{@major_id}&sort=graduation_year#thesortablemajorcomments"],
                                   ["Highest Paying","/major_reviews?id=#{@major_id}&major_id=#{@major_id}&sort=highest_paying#thesortablemajorcomments"],
                                   ["College Name","/major_reviews?id=#{@major_id}&major_id=#{@major_id}&sort=college_name_alphabetical#thesortablemajorcomments"]],
                                    "/major_reviews?id=#{@major_id}&major_id=#{@major_id}&sort=#{@selected_sort_order}#thesortablemajorcomments"),
                                    :onchange => "document.location.href=this.value") %>

          <% if not mobile_device? %>
          </div>
          <% end %>
        </div>
      </div>
      <tbody>
      <% if @reviews != nil && @reviews.length > 0 %>
          <% @reviews.each do |review| %>
              <tr>
                <td>
                  <ol class="list-unstyled">
                    <li>
                      <h3 style="margin-bottom: 3px; margin-top: 10px">
                        <% if review.title != nil && review.title.length > 0 %>
                            <%= review.title %>
                        <% else %>
                            <%= review.major_name %>
                        <% end %>
                      </h3>
                      <div class="article-meta media color-grey-50" style="margin-top: 0;">
                        <div class="media-body">
                          <p class="m0 media-heading">
                            <% amount = (review.annual_salary > 1000000) ? '$1Million+' : number_to_currency(review.annual_salary, precision: 2)  %>
                            Starting Annual Salary: <span class="page-hits m0 text-green-400"><strong><%= amount %></strong></span>
                          </p>
                        </div>
                      </div>
                      <div class="article-meta media color-grey-50">
                        <div class="media-body">
                          <p class="m0 media-heading">
                            Review by
                            <%= link_to review.user_name, school_review_path(review) %>
                            •
                            <em><%= link_to 'Class of ' + review.year_graduated.to_s, school_review_path(review) %></em>
                            •
                            From
                            <%= link_to review.school_name,  school_reviews_path(:the_school => { :school_id => review.school_id } ) %>
                            <time class="pull-right"><%= review.created_at.strftime("%m/%d/%Y") %></time>
                          </p>
                        </div>
                      </div>

                      <p style="margin-bottom: 8px;">
                        <%= review.review %>
                      </p>
                      <% if review.vote_count %>
                          <% likes = ((review.reputation_for(:votes) + review.vote_count)/(review.vote_count * 2)) * review.vote_count %>
                      <% else %>
                          <% likes = 0 %>
                      <% end %>
                      <%= link_to "likes (" + likes.to_i.to_s + ")", school_review_path(review) %>
                      <span class="pull-right">
                        <%= link_to 'Read more or ask this grad →', school_review_path(review) %>
                      </span>
                    </li>
                  </ol>
                </td>
              </tr>
          <% end %>
      <% else %>
      <% end %>
      </tbody>
    </table>
    <hr>
  </div>
</div>