<link href='http://fonts.googleapis.com/css?family=Alegreya+Sans:900' rel='stylesheet' type='text/css'>
<div class="container animate-fade-in-500">
      <div class="row">
        <% counter = 0 %>
        <% percent_20 = 10 %> <!-- NOT USING PERCENT FOR STATES TO THEY CAN ALL FIT ON ONE SCREEN-->
        <% percent_40 = 19 %> <!-- IM JUST TOO LAZY TO CHANGE THE NAME -->
        <% percent_60 = 34 %>
        <% percent_80 = 42 %>
        <% header_character = @states[0].name[0,1] %>
        <% @states.each do |state| -%>
            <% if counter == 0 || counter == percent_20 || counter == percent_40 || counter == percent_60 || counter == percent_80 %>
                <div class="col-lg-2 col-md-2 col-sm-2 text-md-left list-fancy-text-style">
                  <section>
                    <% header_character = state.name[0,1] %>
                    <% random_color_value = Random.rand(3) %>
                    <% if random_color_value == 0 %>
                        <p class="list-fancy-text-header-style" style="color: #f6931f; line-height:55px;">
                    <% elsif random_color_value == 1 %>
                        <p class="list-fancy-text-header-style" style="color: #d58b47;line-height:55px;">
                    <% else %>
                        <p class="list-fancy-text-header-style" style="color: #ecc97b;line-height:55px;">
                    <% end %>
                    <%= header_character %>
                    </p>
            <%  end %>

            <% if header_character != state.name[0,1] %>
                <% header_character = state.name[0,1] %>
                <% random_color_value = Random.rand(3) %>
                <% if random_color_value == 0 %>
                    <p class="list-fancy-text-header-style" style="color: #f6931f;line-height:55px;">
                <% elsif random_color_value == 1 %>
                    <p class="list-fancy-text-header-style" style="color: #d58b47;line-height:55px;">
                <% else %>
                    <p class="list-fancy-text-header-style" style="color: #ecc97b;line-height:55px;">
                <% end %>
                <%= header_character %></p>
            <% end %>

            <%= link_to  schools_index_path(:the_state => { :state_id => state.id })  do %>
                <span style="color:#16333f;font-size:medium;"><%= state.name %></span>
            <% end -%> <br>
            <%  if (counter == (percent_20 - 1)) || (counter == (percent_40 -1)) || (counter == (percent_60 -1)) || (counter == (percent_80 -1)) || (counter == (@states.length - 1)) %>
                </section>
                </div>
            <% end %>
            <% counter += 1 %>
        <% end %>
      </div>
</div>

<%= render "layouts/footer" %> <br >