

<div class="container animate-fade-in-500">
  <div class="row" >
    <div class="col-lg-8">
      <h3 style="margin:0 0 15px 0;">All College and Major stats provided by users, like you!</h3>
    </div>
  </div>
</div>

<div class="container animate-fade-in-500">
  <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
          <div class="panel panel-metric" style="min-height: 400px;">
            <div class="panel-body">
              <div class="metric-content">
                <div class="row">
                  <header class='col-xs-12'>
                    <h3 style="background-color: #28445c;">College Stats</h3>
                  </header>

                  <div class="col-xs-12" style="margin: 10px 0 0 0;">

                    <div class="panel panel-success" style="margin: 0 7px 0 7px;">
                      <div class="panel-heading">
                        <h4 class="panel-title">
                          <div class="row">
                            <span class="halffirst" id="halffirst">
                                <div class="col-xs-1">
                                    <span class="fa fa-caret-down" id="collegeCollapseTwoCaret"> </span>
                                </div>
                            </span>
                            <span class="half" id="half">
                                <div class="col-xs-11">
                                    <a class="accordion-toggle panel-title" data-toggle="collapse" data-parent="#accordion" href="#collegeCollapseTwo">
                                        Highest Paying Colleges <small><em>for past 3 years (<%= (Date.today.year) %>, <%= (Date.today.year - 1) %>, <%= (Date.today.year - 2) %>)</em></small>
                                    </a>
                                </div>
                            </span>
                          </div>
                        </h4>
                      </div>
                      <div id="collegeCollapseTwo" class="panel-collapse collapse">
                        <div class="panel-body" style="padding: 0 15px 15px 15px;">
                          <div class="table-responsive">
                            <table class="table table-striped" style="margin-bottom: 0;">
                              <tbody>
                              <% names_array = @stats.top_college_salary_names.to_s.split("^")%>
                              <% ids_array = @stats.top_college_salary_ids.to_s.split("^")%>
                              <% amounts_array = @stats.top_college_salary_amounts.to_s.split("^")%>
                              <% (0..names_array.length-1).each do |index|%>
                                  <tr>
                                    <td><%= index + 1 %></td>
                                    <td>
                                      <ul class="list-unstyled small" style="margin-bottom: 0;">
                                        <li style="margin-bottom: 0;">
                                          <% if amounts_array[index] != nil && amounts_array[index].to_s != "" %>
                                              <% amount = (amounts_array[index].to_f > 1000000) ? '$1Million+' : number_to_currency(amounts_array[index].to_f, precision: 2)  %>
                                              <b><%= link_to names_array[index].to_s, school_reviews_path(:the_school => { :school_id => ids_array[index].to_i })  %></b><br/>
                                              <%= amount %>
                                          <% else %>
                                              <b>N/A</b>
                                          <% end %>
                                        </li>
                                      </ul>
                                    </td>
                                  </tr>
                              <% end %>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="panel panel-success" style="margin: 5px 7px 0 7px;">
                      <div class="panel-heading">
                        <h4 class="panel-title">
                          <div class="row">
                            <span class="halffirst" id="halffirst">
                                <div class="col-xs-1">
                                  <span class="fa fa-caret-down" id="collegeCollapseThreeCaret"> </span>
                                </div>
                            </span>
                            <span class="half" id="half">
                                <div class="col-xs-11">
                                  <a class="accordion-toggle panel-title" data-toggle="collapse" data-parent="#accordion" href="#collegeCollapseThree">
                                    Highest Paying Colleges <small><em>OVERALL</em></small>
                                  </a>
                                </div>
                            </span>
                          </div>
                        </h4>
                      </div>
                      <div id="collegeCollapseThree" class="panel-collapse collapse">
                        <div class="panel-body" style="padding: 0 15px 15px 15px;">
                          <div class="table-responsive">
                            <table class="table table-striped" style="margin-bottom: 0;">
                              <tbody>
                              <% names_array = @stats.c_overall_sal_names.to_s.split("^")%>
                              <% ids_array = @stats.c_overall_sal_ids.to_s.split("^")%>
                              <% amounts_array = @stats.c_overall_sal_amounts.to_s.split("^")%>
                              <% (0..names_array.length-1).each do |index|%>
                                  <tr>
                                    <td><%= index + 1 %></td>
                                    <td>
                                      <ul class="list-unstyled small" style="margin-bottom: 0;">
                                        <li style="margin-bottom: 0;">
                                          <% if amounts_array[index] != nil && amounts_array[index].to_s != "" %>
                                              <% amount = (amounts_array[index].to_f > 1000000) ? '$1Million+' : number_to_currency(amounts_array[index].to_f, precision: 2)  %>
                                              <b><%= link_to names_array[index].to_s, school_reviews_path(:the_school => { :school_id => ids_array[index].to_i })  %></b><br/>
                                              <%= amount %>
                                          <% else %>
                                              <b>N/A</b>
                                          <% end %>
                                        </li>
                                      </ul>
                                    </td>
                                  </tr>
                              <% end %>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>




                    <div class="panel panel-success" style="margin: 5px 7px 0 7px;">
                      <div class="panel-heading">
                        <h4 class="panel-title">
                          <div class="row">
                            <span class="halffirst" id="halffirst">
                                <div class="col-xs-1">
                                  <span class="fa fa-caret-down" id="collegeCollapseFourCaret"> </span>
                                </div>
                            </span>
                            <span class="half" id="half">
                                <div class="col-xs-11">
                                  <a class="accordion-toggle panel-title" data-toggle="collapse" data-parent="#accordion" href="#collegeCollapseFour">
                                    Highest debt colleges
                                  </a>
                                </div>
                            </span>
                          </div>
                        </h4>
                      </div>
                      <div id="collegeCollapseFour" class="panel-collapse collapse">
                        <div class="panel-body" style="padding: 0 15px 15px 15px;">
                          <div class="table-responsive">
                            <table class="table table-striped" style="margin-bottom: 0;">
                              <tbody>
                              <% names_array = @stats.top_college_debt_names.to_s.split("^")%>
                              <% ids_array = @stats.top_college_debt_ids.to_s.split("^")%>
                              <% amounts_array = @stats.top_college_debt_amounts.to_s.split("^")%>
                              <% (0..names_array.length-1).each do |index|%>
                                  <tr>
                                    <td><%= index + 1 %></td>
                                    <td>
                                      <ul class="list-unstyled small" style="margin-bottom: 0;">
                                        <li style="margin-bottom: 0;">
                                          <% if amounts_array[index] != nil && amounts_array[index].to_s != "" %>
                                              <% amount = (amounts_array[index].to_f > 1000000) ? '$1Million+' : number_to_currency(amounts_array[index].to_f, precision: 2)  %>
                                              <b><%= link_to names_array[index].to_s, school_reviews_path(:the_school => { :school_id => ids_array[index].to_i })  %></b><br/>
                                              <%= amount %>
                                          <% else %>
                                              <b>N/A</b>
                                          <% end %>
                                        </li>
                                      </ul>
                                    </td>
                                  </tr>
                              <% end %>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>



                    <div class="panel panel-success" style="margin: 5px 7px 0 7px;">
                      <div class="panel-heading">
                        <h4 class="panel-title"> <!-- DONT FORGET: the href from dressed had  href="006_components@fa-briefcase%252Faccordian.html#collapseOne" YOU may need to add full URL -->
                          <div class="row">
                            <span class="halffirst" id="halffirst">
                                <div class="col-xs-1">
                                  <span class="fa fa-caret-down" id="collegeCollapseOneCaret"> </span>
                                </div>
                            </span>
                            <span class="half" id="half">
                                <div class="col-xs-11">
                                  <a class="accordion-toggle panel-title" data-toggle="collapse" data-parent="#accordion" href="#collegeCollapseOne">
                                    Highest Rated Colleges
                                  </a>
                                </div>
                            </span>
                          </div>
                        </h4>
                      </div>
                      <div id="collegeCollapseOne" class="panel-collapse collapse">
                        <div class="panel-body" style="padding: 0 15px 15px 15px;">
                          <div class="table-responsive">
                            <table class="table table-striped" style="margin-bottom: 0;">
                              <tbody>
                              <% names_array = @stats.top_college_rating_names.to_s.split("^")%>
                              <% ids_array = @stats.top_college_rating_ids.to_s.split("^")%>
                              <% amounts_array = @stats.top_college_rating_amounts.to_s.split("^")%>
                              <% (0..names_array.length-1).each do |index|%>
                                  <tr>
                                    <td><%= index + 1 %></td>
                                    <td>
                                      <ul class="list-unstyled small" style="margin-bottom: 0;">
                                        <li style="margin-bottom: 0;">
                                          <% if amounts_array[index] != nil && amounts_array[index].to_s != "" %>
                                              <b><%= link_to names_array[index].to_s, school_reviews_path(:the_school => { :school_id => ids_array[index].to_i })  %></b><br/>
                                              <strong><%= number_with_precision(amounts_array[index].to_f,precision:1) %></strong> <small><em>out of 5</em></small>
                                          <% else %>
                                              <b>N/A</b>
                                          <% end %>
                                        </li>
                                      </ul>
                                    </td>
                                  </tr>
                              <% end %>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>


                    <div class="panel panel-success" style="margin: 5px 7px 0 7px;">
                      <div class="panel-heading">
                        <h4 class="panel-title">
                          <div class="row">
                            <span class="halffirst" id="halffirst">
                                <div class="col-xs-1">
                                  <span class="fa fa-caret-down" id="collegeCollapseFiveCaret"> </span>
                                </div>
                            </span>
                            <span class="half" id="half">
                                <div class="col-xs-11">
                                  <a class="accordion-toggle panel-title" data-toggle="collapse" data-parent="#accordion" href="#collegeCollapseFive">
                                    Best Party Colleges
                                  </a>
                                </div>
                            </span>
                          </div>
                        </h4>
                      </div>
                      <div id="collegeCollapseFive" class="panel-collapse collapse">
                        <div class="panel-body" style="padding: 0 15px 15px 15px;">
                          <div class="table-responsive">
                            <table class="table table-striped" style="margin-bottom: 0;">
                              <tbody>
                              <% names_array = @stats.top_college_party_school_names.to_s.split("^")%>
                              <% ids_array = @stats.top_college_party_school_ids.to_s.split("^")%>
                              <% amounts_array = @stats.top_college_party_school_amounts.to_s.split("^")%>
                              <% (0..names_array.length-1).each do |index|%>
                                  <tr>
                                    <td><%= index + 1 %></td>
                                    <td>
                                      <ul class="list-unstyled small" style="margin-bottom: 0;">
                                        <li style="margin-bottom: 0;">
                                          <% if amounts_array[index] != nil && amounts_array[index].to_s != "" %>
                                              <b><%= link_to names_array[index].to_s, school_reviews_path(:the_school => { :school_id => ids_array[index].to_i })  %></b><br/>
                                              <strong><%= number_with_precision(amounts_array[index].to_f,precision:1) %></strong> <small><em>out of 5</em></small>
                                          <% else %>
                                              <b>N/A</b>
                                          <% end %>
                                        </li>
                                      </ul>
                                    </td>
                                  </tr>
                              <% end %>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>


                    <div class="panel panel-success" style="margin: 5px 7px 0 7px;">
                      <div class="panel-heading">
                        <h4 class="panel-title">
                          <div class="row">
                            <span class="halffirst" id="halffirst">
                                <div class="col-xs-1">
                                  <span class="fa fa-caret-down" id="collegeCollapseSixCaret"> </span>
                                </div>
                            </span>
                            <span class="half" id="half">
                                <div class="col-xs-11">
                                  <a class="accordion-toggle panel-title" data-toggle="collapse" data-parent="#accordion" href="#collegeCollapseSix">
                                    Most Recommended Colleges
                                  </a>
                                </div>
                            </span>
                          </div>
                        </h4>
                      </div>
                      <div id="collegeCollapseSix" class="panel-collapse collapse">
                        <div class="panel-body" style="padding: 0 15px 15px 15px;">
                          <div class="table-responsive">
                            <table class="table table-striped" style="margin-bottom: 0;">
                              <tbody>
                              <% names_array = @stats.top_college_recommend_names.to_s.split("^")%>
                              <% ids_array = @stats.top_college_recommend_ids.to_s.split("^")%>
                              <% amounts_array = @stats.top_college_recommend_amounts.to_s.split("^")%>
                              <% (0..names_array.length-1).each do |index|%>
                                  <tr>

                                    <td><%= index + 1 %></td>
                                    <td>
                                      <ul class="list-unstyled small" style="margin-bottom: 0;">
                                        <li style="margin-bottom: 0;">
                                          <% if amounts_array[index] != nil && amounts_array[index].to_s != "" %>
                                              <b><%= link_to names_array[index].to_s, school_reviews_path(:the_school => { :school_id => ids_array[index].to_i })  %></b><br/>
                                              <strong><%= number_with_precision(amounts_array[index].to_f*100,precision:1) %>%</strong>
                                          <% else %>
                                              <b>N/A</b>
                                          <% end %>
                                        </li>
                                      </ul>
                                    </td>
                                  </tr>
                              <% end %>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                  <div class="col-xs-12" style="margin: 0;">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
      <div class="panel panel-metric" style="min-height: 400px;">
        <div class="panel-body">
          <div class="metric-content">
            <div class="row">
              <header class='col-xs-12'>
                <h3 style="background-color: #28445c;">Major Stats</h3>
              </header>
              <div class="col-xs-12" style="margin: 10px 0 0 0;">



                <div class="panel panel-success" style="margin: 0 7px 0 7px;">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <div class="row">
                            <span class="halffirst" id="halffirst">
                                <div class="col-xs-1">
                                  <span class="fa fa-caret-down" id="majorCollapseOneCaret"> </span>
                                </div>
                            </span>
                            <span class="half" id="half">
                                <div class="col-xs-11">
                                  <a class="accordion-toggle panel-title" data-toggle="collapse" data-parent="#accordion" href="#majorCollapseOne">
                                    Highest Paying Majors <small><em>for past 3 years (<%= (Date.today.year) %>, <%= (Date.today.year - 1) %>, <%= (Date.today.year - 2) %>)</em></small>
                                  </a>
                                </div>
                            </span>
                      </div>
                    </h4>
                  </div>
                  <div id="majorCollapseOne" class="panel-collapse collapse">
                    <div class="panel-body" style="padding: 0 15px 15px 15px;">
                      <div class="table-responsive">
                        <table class="table table-striped" style="margin-bottom: 0;">
                          <tbody>
                          <% names_array = @stats.m_sal_names.to_s.split("^")%>
                          <% ids_array = @stats.m_sal_ids.to_s.split("^")%>
                          <% amounts_array = @stats.m_sal_amounts.to_s.split("^")%>
                          <% (0..names_array.length-1).each do |index|%>
                              <tr>

                                <td><%= index + 1 %></td>
                                <td>
                                  <ul class="list-unstyled small" style="margin-bottom: 0;">
                                    <li style="margin-bottom: 0;">
                                      <% if amounts_array[index] != nil && amounts_array[index].to_s != "" %>
                                          <% amount = (amounts_array[index].to_f > 1000000) ? '$1Million+' : number_to_currency(amounts_array[index].to_f, precision: 2)  %>
                                          <b><%= link_to names_array[index].to_s, major_reviews_path(:major_id => ids_array[index].to_i)  %></b><br/>
                                          <%= amount %>
                                      <% else %>
                                          <b>N/A</b>
                                      <% end %>
                                    </li>
                                  </ul>
                                </td>
                              </tr>
                          <% end %>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="panel panel-success" style="margin: 5px 7px 0 7px;">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <div class="row">
                            <span class="halffirst" id="halffirst">
                                <div class="col-xs-1">
                                  <span class="fa fa-caret-down" id="majorCollapseTwoCaret"> </span>
                                </div>
                            </span>
                            <span class="half" id="half">
                                <div class="col-xs-11">
                                  <a class="accordion-toggle panel-title" data-toggle="collapse" data-parent="#accordion" href="#majorCollapseTwo">
                                    Highest Paying Majors <small><em>OVERALL</em></small>
                                  </a>
                                </div>
                            </span>
                      </div>
                    </h4>
                  </div>
                  <div id="majorCollapseTwo" class="panel-collapse collapse">
                    <div class="panel-body" style="padding: 0 15px 15px 15px;">
                      <div class="table-responsive">
                        <table class="table table-striped" style="margin-bottom: 0;">
                          <tbody>
                          <% names_array = @stats.m_overall_sal_names.to_s.split("^")%>
                          <% ids_array = @stats.m_overall_sal_ids.to_s.split("^")%>
                          <% amounts_array = @stats.m_overall_sal_amounts.to_s.split("^")%>
                          <% (0..names_array.length-1).each do |index|%>
                              <tr>

                                <td><%= index + 1 %></td>
                                <td>
                                  <ul class="list-unstyled small" style="margin-bottom: 0;">
                                    <li style="margin-bottom: 0;">
                                      <% if amounts_array[index] != nil && amounts_array[index].to_s != "" %>
                                          <% amount = (amounts_array[index].to_f > 1000000) ? '$1Million+' : number_to_currency(amounts_array[index].to_f, precision: 2)  %>
                                          <b><%= link_to names_array[index].to_s, major_reviews_path(:major_id => ids_array[index].to_i)  %></b><br/>
                                          <%= amount %>
                                      <% else %>
                                          <b>N/A</b>
                                      <% end %>
                                    </li>
                                  </ul>
                                </td>
                              </tr>
                          <% end %>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>



                <div class="panel panel-success" style="margin: 5px 7px 0 7px;">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <div class="row">
                            <span class="halffirst" id="halffirst">
                                <div class="col-xs-1">
                                  <span class="fa fa-caret-down" id="majorCollapseThreeCaret"> </span>
                                </div>
                            </span>
                            <span class="half" id="half">
                                <div class="col-xs-11">
                                  <a class="accordion-toggle panel-title" data-toggle="collapse" data-parent="#accordion" href="#majorCollapseThree">
                                    Most Difficult Majors
                                  </a>
                                </div>
                            </span>
                      </div>
                    </h4>
                  </div>
                  <div id="majorCollapseThree" class="panel-collapse collapse">
                    <div class="panel-body" style="padding: 0 15px 15px 15px;">
                      <div class="table-responsive">
                        <table class="table table-striped" style="margin-bottom: 0;">
                          <tbody>
                          <% names_array = @stats.m_diff_names.to_s.split("^")%>
                          <% ids_array = @stats.m_diff_ids.to_s.split("^")%>
                          <% amounts_array = @stats.m_diff_amounts.to_s.split("^")%>
                          <% (0..names_array.length-1).each do |index|%>
                              <tr>

                                <td><%= index + 1 %></td>
                                <td>
                                  <ul class="list-unstyled small" style="margin-bottom: 0;">
                                    <li style="margin-bottom: 0;">
                                      <% if amounts_array[index] != nil && amounts_array[index].to_s != "" %>
                                          <b><%= link_to names_array[index].to_s, major_reviews_path(:major_id => ids_array[index].to_i)  %></b><br/>
                                          <strong><%= number_with_precision(amounts_array[index].to_f,precision:1) %></strong> <small><em>out of 5</em></small>
                                      <% else %>
                                          <b>N/A</b>
                                      <% end %>
                                    </li>
                                  </ul>
                                </td>
                              </tr>
                          <% end %>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>


                <div class="panel panel-success" style="margin: 5px 7px 0 7px;">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <div class="row">
                            <span class="halffirst" id="halffirst">
                                <div class="col-xs-1">
                                  <span class="fa fa-caret-down" id="majorCollapseFourCaret"> </span>
                                </div>
                            </span>
                            <span class="half" id="half">
                                <div class="col-xs-11">
                                  <a class="accordion-toggle panel-title" data-toggle="collapse" data-parent="#accordion" href="#majorCollapseFour">
                                    Most Recommended Majors
                                  </a>
                                </div>
                            </span>
                      </div>
                    </h4>
                  </div>
                  <div id="majorCollapseFour" class="panel-collapse collapse">
                    <div class="panel-body" style="padding: 0 15px 15px 15px;">
                      <div class="table-responsive">
                        <table class="table table-striped" style="margin-bottom: 0;">
                          <tbody>
                          <% names_array = @stats.m_rec_names.to_s.split("^")%>
                          <% ids_array = @stats.m_rec_ids.to_s.split("^")%>
                          <% amounts_array = @stats.m_rec_amounts.to_s.split("^")%>
                          <% (0..names_array.length-1).each do |index|%>
                              <tr>

                                <td><%= index + 1 %></td>
                                <td>
                                  <ul class="list-unstyled small" style="margin-bottom: 0;">
                                    <li style="margin-bottom: 0;">
                                      <% if amounts_array[index] != nil && amounts_array[index].to_s != "" %>
                                          <b><%= link_to names_array[index].to_s, major_reviews_path(:major_id => ids_array[index].to_i)  %></b><br/>
                                          <strong><%= number_with_precision(amounts_array[index].to_f*100,precision:1) %>%</strong>
                                      <% else %>
                                          <b>N/A</b>
                                      <% end %>
                                    </li>
                                  </ul>
                                </td>
                              </tr>
                          <% end %>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>



              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>




<%= render "layouts/footer" %> <br >