

<div class='container-fluid animate-fade-in-500'>
  <div class="row">
    <div class="col-lg-12">
      <div class="panel-group" id="accordion">

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                Highest debt colleges <small><em>for past 3 years (<%= (Date.today.year) %>, <%= (Date.today.year - 1) %>, <%= (Date.today.year - 2) %>)</em></small>
              </a>
            </h4>
          </div>
          <div id="collapseThree" class="panel-collapse collapse">
            <div class="panel-body" style="padding: 0 15px 15px 15px;">
              <div class="table-responsive">
                <table class="table table-striped" style="margin-bottom: 0;">
                  <tbody>
                  <% names_array = @stats.top_college_debt_names.to_s.split("^")%>
                  <% ids_array = @stats.top_college_debt_ids.to_s.split("^")%>
                  <% amounts_array = @stats.top_college_debt_amounts.to_s.split("^")%>
                  <% (0..names_array.length-1).each do |index|%>
                      <tr>
                        <td><%= index + 1 %></td>
                        <td>
                          <ul class="list-unstyled small" style="margin-bottom: 0;">
                            <li style="margin-bottom: 0;">
                              <% if amounts_array[index] != nil && amounts_array[index].to_s != "" %>
                                  <b><%= link_to names_array[index].to_s, school_reviews_path(:the_school => { :school_id => ids_array[index].to_i })  %></b><br/>
                                  <%= number_to_currency(amounts_array[index].to_f, precision: 2) %>
                              <% else %>
                                  <b>N/A</b>
                              <% end %>
                            </li>
                          </ul>
                        </td>
                      </tr>
                  <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                Best Party Colleges <small><em>overall</em></small>
              </a>
            </h4>
          </div>
          <div id="collapseFour" class="panel-collapse collapse">
            <div class="panel-body" style="padding: 0 15px 15px 15px;">
              <div class="table-responsive">
                <table class="table table-striped" style="margin-bottom: 0;">
                  <tbody>
                  <% names_array = @stats.top_college_party_school_names.to_s.split("^")%>
                  <% ids_array = @stats.top_college_party_school_ids.to_s.split("^")%>
                  <% amounts_array = @stats.top_college_party_school_amounts.to_s.split("^")%>
                  <% (0..names_array.length-1).each do |index|%>
                      <tr>
                        <td><%= index + 1 %></td>
                        <td>
                          <ul class="list-unstyled small" style="margin-bottom: 0;">
                            <li style="margin-bottom: 0;">
                              <% if amounts_array[index] != nil && amounts_array[index].to_s != "" %>
                                  <b><%= link_to names_array[index].to_s, school_reviews_path(:the_school => { :school_id => ids_array[index].to_i })  %></b><br/>
                                  <strong><%= number_with_precision(amounts_array[index].to_f,precision:1) %></strong> <small><em>out of 5</em></small>
                              <% else %>
                                  <b>N/A</b>
                              <% end %>
                            </li>
                          </ul>
                        </td>
                      </tr>
                  <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
                Most Recommended Colleges <small><em>overall</em></small>
              </a>
            </h4>
          </div>
          <div id="collapseFive" class="panel-collapse collapse">
            <div class="panel-body" style="padding: 0 15px 15px 15px;">
              <div class="table-responsive">
                <table class="table table-striped" style="margin-bottom: 0;">
                  <tbody>
                  <% names_array = @stats.top_college_recommend_names.to_s.split("^")%>
                  <% ids_array = @stats.top_college_recommend_ids.to_s.split("^")%>
                  <% amounts_array = @stats.top_college_recommend_amounts.to_s.split("^")%>
                  <% (0..names_array.length-1).each do |index|%>
                      <tr>

                        <td><%= index + 1 %></td>
                        <td>
                          <ul class="list-unstyled small" style="margin-bottom: 0;">
                            <li style="margin-bottom: 0;">
                              <% if amounts_array[index] != nil && amounts_array[index].to_s != "" %>
                                  <b><%= link_to names_array[index].to_s, school_reviews_path(:the_school => { :school_id => ids_array[index].to_i })  %></b><br/>
                                  <strong><%= number_with_precision(amounts_array[index].to_f*100,precision:1) %>%</strong>
                              <% else %>
                                  <b>N/A</b>
                              <% end %>
                            </li>
                          </ul>
                        </td>
                      </tr>
                  <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
                Highest Paying Majors <small><em>for past 3 years (<%= (Date.today.year) %>, <%= (Date.today.year - 1) %>, <%= (Date.today.year - 2) %>)</em></small>
              </a>
            </h4>
          </div>
          <div id="collapseSix" class="panel-collapse collapse">
            <div class="panel-body" style="padding: 0 15px 15px 15px;">
              <div class="table-responsive">
                <table class="table table-striped" style="margin-bottom: 0;">
                  <tbody>
                  <% names_array = @stats.m_sal_names.to_s.split("^")%>
                  <% ids_array = @stats.m_sal_ids.to_s.split("^")%>
                  <% amounts_array = @stats.m_sal_amounts.to_s.split("^")%>
                  <% (0..names_array.length-1).each do |index|%>
                      <tr>

                        <td><%= index + 1 %></td>
                        <td>
                          <ul class="list-unstyled small" style="margin-bottom: 0;">
                            <li style="margin-bottom: 0;">
                              <% if amounts_array[index] != nil && amounts_array[index].to_s != "" %>
                                  <b><%= link_to names_array[index].to_s, school_reviews_path(:the_school => { :school_id => ids_array[index].to_i })  %></b><br/>
                                  <%= number_to_currency(amounts_array[index].to_f, precision: 2) %>
                              <% else %>
                                  <b>N/A</b>
                              <% end %>
                            </li>
                          </ul>
                        </td>
                      </tr>
                  <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">
                Most Difficult Majors <small><em>overall</em></small>
              </a>
            </h4>
          </div>
          <div id="collapseSeven" class="panel-collapse collapse">
            <div class="panel-body" style="padding: 0 15px 15px 15px;">
              <div class="table-responsive">
                <table class="table table-striped" style="margin-bottom: 0;">
                  <tbody>
                  <% names_array = @stats.m_diff_names.to_s.split("^")%>
                  <% ids_array = @stats.m_diff_ids.to_s.split("^")%>
                  <% amounts_array = @stats.m_diff_amounts.to_s.split("^")%>
                  <% (0..names_array.length-1).each do |index|%>
                      <tr>

                        <td><%= index + 1 %></td>
                        <td>
                          <ul class="list-unstyled small" style="margin-bottom: 0;">
                            <li style="margin-bottom: 0;">
                              <% if amounts_array[index] != nil && amounts_array[index].to_s != "" %>
                                  <b><%= link_to names_array[index].to_s, school_reviews_path(:the_school => { :school_id => ids_array[index].to_i })  %></b><br/>
                                  <strong><%= number_with_precision(amounts_array[index].to_f,precision:1) %></strong> <small><em>out of 5</em></small>
                              <% else %>
                                  <b>N/A</b>
                              <% end %>
                            </li>
                          </ul>
                        </td>
                      </tr>
                  <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseEight">
                Most Recommended Majors <small><em>overall</em></small>
              </a>
            </h4>
          </div>
          <div id="collapseEight" class="panel-collapse collapse">
            <div class="panel-body" style="padding: 0 15px 15px 15px;">
              <div class="table-responsive">
                <table class="table table-striped" style="margin-bottom: 0;">
                  <tbody>
                  <% names_array = @stats.m_rec_names.to_s.split("^")%>
                  <% ids_array = @stats.m_rec_ids.to_s.split("^")%>
                  <% amounts_array = @stats.m_rec_amounts.to_s.split("^")%>
                  <% (0..names_array.length-1).each do |index|%>
                      <tr>

                        <td><%= index + 1 %></td>
                        <td>
                          <ul class="list-unstyled small" style="margin-bottom: 0;">
                            <li style="margin-bottom: 0;">
                              <% if amounts_array[index] != nil && amounts_array[index].to_s != "" %>
                                  <b><%= link_to names_array[index].to_s, school_reviews_path(:the_school => { :school_id => ids_array[index].to_i })  %></b><br/>
                                  <strong><%= number_with_precision(amounts_array[index].to_f*100,precision:1) %>%</strong>
                              <% else %>
                                  <b>N/A</b>
                              <% end %>
                            </li>
                          </ul>
                        </td>
                      </tr>
                  <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="container animate-fade-in-500">
  <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
          <div class="panel panel-metric">
            <div class="panel-body">
              <div class="metric-content">
                <div class="row">
                  <header class='col-xs-12'>
                    <h3>Stats For Colleges</h3>
                  </header>

                  <div class="col-xs-12" style="margin: 10px 0 0 0;">
                    <div class="panel panel-danger" style="margin: 0;">
                      <div class="panel-heading">
                        <h4 class="panel-title"> <!-- DONT FORGET: the href from dressed had  href="006_components@fa-briefcase%252Faccordian.html#collapseOne" YOU may need to add full URL -->
                          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                            Highest Rated Colleges <small><em>overall</em></small>
                          </a>
                        </h4>
                      </div>
                      <div id="collapseOne" class="panel-collapse collapse">
                        <div class="panel-body" style="padding: 0 15px 15px 15px;">
                          <div class="table-responsive">
                            <table class="table table-striped" style="margin-bottom: 0;">
                              <tbody>
                              <% names_array = @stats.top_college_rating_names.to_s.split("^")%>
                              <% ids_array = @stats.top_college_rating_ids.to_s.split("^")%>
                              <% amounts_array = @stats.top_college_rating_amounts.to_s.split("^")%>
                              <% (0..names_array.length-1).each do |index|%>
                                  <tr>
                                    <td><%= index + 1 %></td>
                                    <td>
                                      <ul class="list-unstyled small" style="margin-bottom: 0;">
                                        <li style="margin-bottom: 0;">
                                          <% if amounts_array[index] != nil && amounts_array[index].to_s != "" %>
                                              <b><%= link_to names_array[index].to_s, school_reviews_path(:the_school => { :school_id => ids_array[index].to_i })  %></b><br/>
                                              <strong><%= number_with_precision(amounts_array[index].to_f,precision:1) %></strong> <small><em>out of 5</em></small>
                                          <% else %>
                                              <b>N/A</b>
                                          <% end %>
                                        </li>
                                      </ul>
                                    </td>
                                  </tr>
                              <% end %>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="panel panel-default" style="margin: 5px 0 0 0;">
                      <div class="panel-heading">
                        <h4 class="panel-title">
                          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                            Highest Paying Colleges <small><em>for past 3 years (<%= (Date.today.year) %>, <%= (Date.today.year - 1) %>, <%= (Date.today.year - 2) %>)</em></small>
                          </a>
                        </h4>
                      </div>
                      <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body" style="padding: 0 15px 15px 15px;">
                          <div class="table-responsive">
                            <table class="table table-striped" style="margin-bottom: 0;">
                              <tbody>
                              <% names_array = @stats.top_college_salary_names.to_s.split("^")%>
                              <% ids_array = @stats.top_college_salary_ids.to_s.split("^")%>
                              <% amounts_array = @stats.top_college_salary_amounts.to_s.split("^")%>
                              <% (0..names_array.length-1).each do |index|%>
                                  <tr>
                                    <td><%= index + 1 %></td>
                                    <td>
                                      <ul class="list-unstyled small" style="margin-bottom: 0;">
                                        <li style="margin-bottom: 0;">
                                          <% if amounts_array[index] != nil && amounts_array[index].to_s != "" %>
                                              <b><%= link_to names_array[index].to_s, school_reviews_path(:the_school => { :school_id => ids_array[index].to_i })  %></b><br/>
                                              <%= number_to_currency(amounts_array[index].to_f, precision: 2) %>
                                          <% else %>
                                              <b>N/A</b>
                                          <% end %>
                                        </li>
                                      </ul>
                                    </td>
                                  </tr>
                              <% end %>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-xs-12" style="margin: 0;">

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <% content_for :javascript do %>
            <script>

            </script>
        <% end %>
  </div>
</div>























<div class="container animate-fade-in-500">
      <div class="row">
        <% metric_names = [{name:"Stats For Colleges", type:"percent"},{name:"Stats For Majors", type:"percent"}] %>
        <% metric_names.each do |metric| %>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
          <div class="panel panel-metric">
            <div class="panel-body">
              <div class="metric-content">
                <div class="row">
                  <header class='col-xs-12'>
                    <h3><%= metric[:name] %></h3>
                  </header>

                  <div class="col-xs-12" style="min-height: 150px;">
                    <div class="panel panel-danger">
                      <div class="panel-heading">
                        <h4 class="panel-title"> <!-- DONT FORGET: the href from dressed had  href="006_components@fa-briefcase%252Faccordian.html#collapseOne" YOU may need to add full URL -->
                          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                            Highest Rated Colleges <small><em>overall</em></small>
                          </a>
                        </h4>
                      </div>
                      <div id="collapseOne" class="panel-collapse collapse">
                        <div class="panel-body" style="padding: 0 15px 15px 15px;">
                          <div class="table-responsive">
                            <table class="table table-striped" style="margin-bottom: 0;">
                              <tbody>
                              <% names_array = @stats.top_college_rating_names.to_s.split("^")%>
                              <% ids_array = @stats.top_college_rating_ids.to_s.split("^")%>
                              <% amounts_array = @stats.top_college_rating_amounts.to_s.split("^")%>
                              <% (0..names_array.length-1).each do |index|%>
                                  <tr>
                                    <td><%= index + 1 %></td>
                                    <td>
                                      <ul class="list-unstyled small" style="margin-bottom: 0;">
                                        <li style="margin-bottom: 0;">
                                          <% if amounts_array[index] != nil && amounts_array[index].to_s != "" %>
                                              <b><%= link_to names_array[index].to_s, school_reviews_path(:the_school => { :school_id => ids_array[index].to_i })  %></b><br/>
                                              <strong><%= number_with_precision(amounts_array[index].to_f,precision:1) %></strong> <small><em>out of 5</em></small>
                                          <% else %>
                                              <b>N/A</b>
                                          <% end %>
                                        </li>
                                      </ul>
                                    </td>
                                  </tr>
                              <% end %>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <% content_for :javascript do %>
        <script>

        </script>
        <% end %>
        <% end %>
      </div>
</div>