<footer>
    <div class="container">
      <div class="row">
        <div class="col-md-5 col-lg-4 text-xs-center text-md-left">
          <section>
            <h4>About</h4>
            <%= link_to "About Ask The Grad", about_index_path %> <br>
            <a href="#">Privacy</a> <br>
            <a href="#">Terms</a>
          </section>
        </div>
        <div class="col-md-5 col-lg-4 text-xs-center text-md-left">
          <section>
            <h4>Contact</h4>
            <%= link_to 'Contact', new_contact_path %>
          </section>
        </div>
        <div class="col-md-5 col-lg-4 text-xs-center text-md-left">
          <section>
            <h4>Quick Links</h4>
            <%= link_to "Colleges", states_path(:clr_sch => "true") %> <br>
            <%= link_to "Majors", majors_index_path(:clr_sch => "true") %> <br><!-- clr_sch = clear_school_id -->
            <%= link_to "Rankings", stats_path %> <br>
            <%= link_to "Post", states_path(:post_flow => "true") %> <br>
          </section>
        </div>
      </div>
    </div>
  </footer>