<% content_for :navbar do %>
<div class="navbar" xmlns="http://www.w3.org/1999/html">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <span style="position: relative; top:-4px;">
      <%= link_to image_tag("/atg_logo.png", height: '48', width: '144'), {:action => 'index', :controller => 'home'} %>
    </span>
  </div>
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-right">
      <% if not mobile_device? %>
        <li>
            <form class="navbar-form search-form" role="search" action="/schools/index" accept-charset="UTF-8" method="get">
                <input type="text" class="ui-autocomplete-input" id="find_college" name="find_college" autocomplete="off" placeholder="Find your College" size="40" style="padding-right: 30px;">
                    <span class="search-button" style="position: relative; right: 26px;"><i class="fa fa-search"></i></span>
                </input>
            </form>
        </li>
      <% end %>
      <li class="active">
        <%= activatable_li_tag_with_link "Home", root_path %>
      </li>
      <li>
        <%= activatable_li_tag_with_link "Colleges", states_path %>
      </li>
      <li>
        <%= activatable_li_tag_with_link "Majors", majors_index_path(:clr_sch => "true") %> <!-- clr_sch = clear_school_id -->
      </li>
      <li>
        <%= activatable_li_tag_with_link "Rankings", stats_path %>
      </li>
      <li>
        <%= activatable_li_tag_with_link "Login", new_user_session_path %>
      </li>
      <% if not mobile_device? %>
          <li>
            <!--<button class='btn btn-outline-primary sign-up'>Sign Up</button>-->
            <%= button_to 'Sign Up', new_user_registration_path, class: "btn btn-outline-primary sign-up", method: "get" %>
          </li>
      <% end %>
      <% if mobile_device? %>
          <li>
            <%= activatable_li_tag_with_link "Sign Up", new_user_registration_path %>
          </li>
          <li>
            <form class="navbar-form search-form" role="search" action="/schools/index" accept-charset="UTF-8" method="get">
              <input type="text" class="ui-autocomplete-input" id="find_college" name="find_college" autocomplete="off" placeholder="Find your College">
              </input>
            </form>
          </li>
      <% end %>
    </ul>
  </div>
</div>
<% end %>

<%= render :layout => "layouts/base" do %>
  <%= yield %>
<% end %>